openapi: 3.0.3
info:
  title: PowerDNS Admin API - Administrator Documentation
  description: |
    **Administrator API** - Full system access for PowerDNS management and configuration.
    
    For user-focused documentation, see `/openapi-user.yaml`
    
    ## Authentication
    
    **Admin API Key Required** - Single API key provides full administrative access.
    Include `X-API-Key` or `Authorization: Bearer` header in requests.
    
    **Dual Authentication:**
    1. **Valid Admin API Key** - From AVANT_API_KEY environment variable
    2. **Global IP Allowlist** - Client IP must be in allowlist
    
    ## Account-Scoped API Keys (New)
    
    Create and manage account-scoped API keys for customers/users:
    - Restrict access to specific account's domains
    - Granular permissions (read, write, create, delete)
    - Optional per-key IP restrictions
    - Expiration dates and usage tracking
    - See `/api/api-keys` endpoints below
    
    ## Environment Configuration
    All sensitive configuration (API keys, database credentials, hosts) is stored in `.env`:
    - `AVANT_API_KEY` - Admin API key for authentication
    - `PDNS_API_KEY` - PowerDNS Admin API key
    - `PDNS_SERVER_KEY` - PowerDNS Server API key
    - `API_DB_HOST`, `API_DB_NAME`, `API_DB_USER`, `API_DB_PASS` - Local business logic database
    - `PDNS_ADMIN_DB_HOST`, `PDNS_ADMIN_DB_NAME`, `PDNS_ADMIN_DB_USER`, `PDNS_ADMIN_DB_PASS` - PowerDNS Admin database
    - IP allowlist and other security settings
    
    ## Core Features
    - Account and user management with PowerDNS Admin sync
    - Domain management with intelligent ID/name detection
    - DNS record management via PowerDNS Server API
    - Template-based domain creation
    - Local database caching and metadata storage
    - Secure environment-based configuration (no hardcoded credentials)
  version: 1.1.0
  contact:
    name: API Support - Silvester van der Leer
    email: silvester@avant.nl
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://pdnsapi.avant.nl/
    description: Production server (PowerDNS Admin API)

security:
  - AdminApiKey: []

paths:
  /:
    get:
      summary: API Documentation
      description: Returns API documentation and available endpoints
      tags:
        - Documentation
      security: []  # No authentication required
      responses:
        '200':
          description: API documentation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDocumentation'

  /accounts:
    get:
      summary: Get accounts with smart filtering
      description: |
        Retrieve accounts from local database with PowerDNS Admin synchronization.
        
        **🔑 Requires Admin API Key**
        
        **Filter Logic (AND conditions):**
        - Single parameter: Direct lookup
        - Multiple parameters: Must ALL match (validation)
        - `?id=14&username=admin` returns user only if ID 14 has username "admin"
        - Returns 404 if parameters don't match the same user
      tags:
        - Accounts
      parameters:
        - name: id
          in: query
          schema:
            type: integer
          description: Filter by account ID (can combine with other filters for validation)
        - name: username
          in: query
          schema:
            type: string
          description: Filter by username (can combine with ID for validation)
        - name: email
          in: query
          schema:
            type: string
          description: Filter by email address (can combine with other filters)
        - name: sync
          in: query
          schema:
            type: boolean
          description: Sync from PowerDNS Admin before filtering
      responses:
        '200':
          description: List of accounts or single account (with AND validation)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
                  message:
                    type: string
              examples:
                all_accounts:
                  summary: All accounts
                  value:
                    data: []
                    message: "Users retrieved successfully (47 users available)"
                single_filter:
                  summary: Single filter (ID only)
                  value:
                    data: [{"id": 14, "username": "admin"}]
                    message: "Found 1 user with ID 14"
                and_validation_success:
                  summary: AND validation success
                  value:
                    data: [{"id": 14, "username": "admin"}]
                    message: "Found user with ID 14 and username 'admin'"
        '401':
          description: Unauthorized - Valid Admin API Key required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '404':
          description: No accounts found or AND validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      summary: Create a new account
      description: |
        Create a new account with optional IP addresses. The account is created in both PDNSAdmin and local database.
        
        **� Requires Admin API Key**
      tags:
        - Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreate'
            examples:
              powerdns_admin_user:
                summary: PowerDNS Admin User Creation
                value:
                  username: "testuser1754424578"
                  plain_text_password: "36440b7d5ab7521f"
                  firstname: "Test"
                  lastname: "User"
                  email: "test@example.com"
                  role:
                    id: 2
                    name: "User"
                  ip_addresses: ["192.168.1.101", "192.168.1.102", "2001:db8::2"]
                  customer_id: 1001
      responses:
        '201':
          description: Account created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '400':
          description: Bad Request - Invalid input data
        '401':
          description: Unauthorized - Valid Admin API Key required
        '409':
          description: Conflict - Username or email already exists
        '500':
          $ref: '#/components/responses/ServerError'

    put:
      summary: Update account
      description: |
        Update an existing account using JSON input. Changes are synced with PDNSAdmin (except IP addresses).
        
        **� Requires Admin API Key**
        
        **JSON Payload (Required):**
        - Include account identifier (`id` or `username`)
        - Include fields to update
        - IP addresses are stored locally only
      tags:
        - Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateRequest'
            examples:
              update_by_id:
                summary: Update account by ID
                value:
                  id: 94
                  firstname: "Updated First Name"
                  lastname: "Updated Last Name"
                  email: "updated@example.com"
                  ip_addresses: ["192.168.1.101", "192.168.1.102"]
              update_by_username:
                summary: Update account by username
                value:
                  username: "johndoe"
                  customer_id: 1001
                  ip_addresses: ["192.168.1.200", "2001:db8::5"]
      responses:
        '200':
          description: Account updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    delete:
      summary: Delete account
      description: |
        Delete an account from PowerDNS Admin using JSON input. The local database is automatically synced after deletion.
        
        **� Requires Admin API Key**
        **⚠️ Warning:** This action cannot be undone.
        
        **JSON Payload (Required):**
        - Use `{"id": 94}` to delete account by ID
        - Use `{"username": "johndoe"}` to delete account by username
        
        **Important:** This operation only deletes from PowerDNS Admin. The local database is updated through 
        automatic synchronization, ensuring the API remains the authoritative source for account management.
      tags:
        - Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountIdentifier'
            examples:
              delete_by_id:
                summary: Delete account by ID
                value:
                  id: 94
              delete_by_username:
                summary: Delete account by username
                value:
                  username: "johndoe"
      responses:
        '200':
          description: Account deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /domains:
    get:
      summary: Get domains with intelligent search
      description: |
        Retrieve domains/zones with automatic PowerDNS Admin synchronization.
        
        **Smart Query with AND Filters:**
        - `q` parameter: Auto-detects search type (ID/name/pattern/contains)  
        - Additional filters: Combined as AND conditions
        - `?q=example.com&account_id=5` finds "example.com" AND belongs to account 5
      tags:
        - Domains
        - Domain Search
      parameters:
        - name: q
          in: query
          schema:
            type: string
          description: Smart query (auto-detects ID/name/pattern/contains) - primary filter
        - name: account_id
          in: query
          schema:
            type: integer
          description: Additional filter - must match account (AND condition with q)
        - name: sync
          in: query
          schema:
            type: boolean
          description: Sync from PowerDNS Admin before filtering
        - name: details
          in: query
          schema:
            type: boolean
          description: Include full DNS records via PowerDNS Server API (requires PowerDNS API key)
      responses:
        '200':
          description: List of domains/zones
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/Domain'
                        - $ref: '#/components/schemas/DomainDetails'
                  message:
                    type: string
                  query_type:
                    type: string
                    enum: ["all", "id", "name", "pattern", "contains", "account"]
                    description: The type of query that was executed

    post:
      summary: Advanced domain search
      description: |
        Search domains with JSON payload for complex queries and filters.
        Supports combined filters and advanced options.
      tags:
        - Domains
        - Domain Search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: Domain ID for exact lookup
                name:
                  type: string
                  description: Exact domain name
                pattern:
                  type: string
                  description: Pattern search (supports * wildcards)
                contains:
                  type: string
                  description: Contains search (case-insensitive)
                account_id:
                  type: integer
                  description: Filter by account ID
                details:
                  type: boolean
                  description: Include full DNS records
                sync:
                  type: boolean
                  description: Sync from PowerDNS Admin first
            examples:
              search_by_id:
                summary: Get domain by ID
                value:
                  id: 123
              search_by_name:
                summary: Get domain by name
                value:
                  name: "example.com"
              pattern_search:
                summary: Pattern search
                value:
                  pattern: "*avant*"
                  details: true
              account_domains:
                summary: Get account domains
                value:
                  account_id: 1
      responses:
        '200':
          description: Domain search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/Domain'
                        - $ref: '#/components/schemas/DomainDetails'
                  message:
                    type: string
                  query_type:
                    type: string
                  filters_applied:
                    type: object

    put:
      summary: Update domain by ID or name  
      description: |
        Update domain settings and DNS records.
        Supports both ID and name-based updates with PowerDNS Admin and Server API integration.
        
        **🔑 Requires Admin API Key**
        
        **⚠️ SECURITY WARNINGS:**
        - **Domain Ownership:** Only domains owned by authenticated account can be modified
        - **DNS Record Validation:** All DNS records are validated before application
        - **Account Transfer:** Changing account_id requires ownership verification
        - **Zone Type Changes:** Changing kind/masters affects DNS resolution - use with caution
        
        **🛡️ VALIDATION ENFORCED:**
        - DNS record content validated (A/AAAA/CNAME/MX formats)
        - Master server IPs validated for Slave zones
        - Account ownership verified before transfers
        - DNSSEC changes require additional validation
      tags:
        - Domains
        - Domain Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: Domain ID (use this OR name, not both)
                name:
                  type: string
                  description: Domain name (use this OR id, not both)
                account_id:
                  type: integer
                  nullable: true
                  description: Account ID to assign domain to
                kind:
                  type: string
                  enum: [Native, Master, Slave]
                  description: Zone kind
                masters:
                  type: array
                  items:
                    type: string
                  description: Master servers (for Slave zones)
                dnssec:
                  type: boolean
                  description: Enable DNSSEC
                rrsets:
                  type: array
                  description: DNS record updates (PowerDNS Server API)
                  items:
                    $ref: '#/components/schemas/RRSetUpdate'
              anyOf:
                - required: [id]
                - required: [name]
            examples:
              update_by_id:
                summary: Update domain by ID
                value:
                  id: 123
                  kind: "Native"
                  dnssec: true
              update_by_name:
                summary: Update domain by name
                value:
                  name: "example.com"
                  account_id: 2
              update_dns_records:
                summary: Update DNS records by name
                value:
                  name: "example.com"
                  rrsets:
                    - name: "www.example.com."
                      type: "A"
                      changetype: "REPLACE"
                      records:
                        - content: "192.168.1.100"
      responses:
        '200':
          description: Domain updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  validation_warnings:
                    type: array
                    items:
                      type: string
        '400':
          description: Bad Request - Invalid DNS records or validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  field:
                    type: string
        '401':
          description: Unauthorized - Valid Admin API Key required
        '403':
          description: Forbidden - Domain ownership verification failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '404':
          description: Domain not found
        '422':
          description: Validation Error - DNS record validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  validation_errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        error:
                          type: string

    delete:
      summary: Delete domain by ID or name
      description: |
        **🚨 DESTRUCTIVE OPERATION** - Delete domain permanently.
        
        **🔑 Requires Admin API Key**
        
        **⚠️ CRITICAL SECURITY WARNINGS:**
        - **Irreversible Action:** Domain deletion cannot be undone
        - **Ownership Verification:** Only domains owned by authenticated account can be deleted  
        - **DNS Resolution Impact:** Domain will immediately stop resolving
        - **Cascade Effects:** All DNS records will be permanently lost
        - **Zone Dependencies:** Check for dependent subdomains before deletion
        
        **🛡️ SAFETY MEASURES:**
        - Domain ownership verified before deletion
        - Audit logging with administrator details
        - PowerDNS Admin and local database automatically synced
      tags:
        - Domains
        - Domain Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: Domain ID (use this OR name, not both)
                name:
                  type: string
                  description: Domain name (use this OR id, not both)
              anyOf:
                - required: [id]
                - required: [name]
            examples:
              delete_by_id:
                summary: Delete domain by ID
                value:
                  id: 123
              delete_by_name:
                summary: Delete domain by name
                value:
                  name: "example.com"
      responses:
        '200':
          description: Domain deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  audit_log:
                    type: object
                    properties:
                      deleted_at:
                        type: string
                        format: date-time
                      records_count:
                        type: integer
                        description: "Number of DNS records that were deleted"
        '400':
          description: Bad Request - Invalid domain identifier
        '401':
          description: Unauthorized - Valid Admin API Key required
        '403':
          description: Forbidden - Domain ownership verification failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '404':
          description: Domain not found
        '409':
          description: Conflict - Domain has active dependencies
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  dependencies:
                    type: array
                    items:
                      type: string
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      summary: Add domain to account
      description: |
        Add a domain to a specific account. This operation uses direct API calls
        to assign domains to accounts in PowerDNS Admin.
        
        **JSON Payload:**
        - `domain_name`: Domain name to assign (required)
        - `account_id`: Target account ID (required)
      tags:
        - Domains
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domain_name, account_id]
              properties:
                domain_name:
                  type: string
                  description: Domain name to add (include trailing dot)
                account_id:
                  type: integer
                  description: Account ID to assign domain to
            examples:
              add_domain_to_account:
                summary: Add domain to account
                value:
                  domain_name: "example.com."
                  account_id: 1
      responses:
        '200':
          description: Domain added to account successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /domains/{id}:
    get:
      summary: Get individual domain by ID
      description: |
        Retrieve a specific domain by its ID from the local database.
      tags:
        - Domains
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Domain ID
      responses:
        '200':
          description: Domain details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Domain'
                  message:
                    type: string
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    
    put:
      summary: Update domain by ID (path parameter)
      description: |
        Update a specific domain using path parameter for ID.
        Alternative to PUT /domains with JSON payload.
        
        **🔐 SECURITY REQUIREMENTS:**
        - Admin API key required for ALL modifications
        - Ownership validation enforced (can only modify domains you own)
        - Input validation prevents DNS record injection attacks
        - All changes logged for audit trails
      tags:
        - Domains
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Domain ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainUpdate'
            examples:
              change_account:
                summary: Change domain account
                value:
                  account_id: 2
              update_settings:
                summary: Update domain settings
                value:
                  kind: "Slave"
                  masters: ["192.168.1.100"]
                  dnssec: true
      responses:
        '200':
          description: Domain updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '400':
          description: |
            Bad request - invalid input data
            - Invalid domain configuration
            - Malformed JSON payload
            - Invalid DNS record format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: |
            Forbidden - security violation
            - Domain not owned by authenticated user
            - Insufficient permissions for operation
            - API key lacks required privileges
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: |
            Validation failed
            - DNS record validation errors
            - Domain name format violations
            - Invalid record type combinations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/ServerError'

    delete:
      summary: Delete domain by ID
      description: |
        Delete a domain from both local database and PowerDNS Admin.
        
        **⚠️ DANGER: IRREVERSIBLE OPERATION**
        - Permanently deletes domain and ALL DNS records
        - Cannot be undone - ensure you have backups
        - Requires admin API key with full privileges
        
        **🔐 SECURITY REQUIREMENTS:**
        - Admin API key required for ALL deletions
        - Ownership validation enforced (can only delete domains you own)
        - Domain must be in "inactive" state before deletion
        - All operations logged for audit trails
      tags:
        - Domains
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Domain ID
        - name: force
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Force deletion even if domain has active records (dangerous)
      responses:
        '200':
          description: Domain deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '403':
          description: |
            Forbidden - security violation
            - Domain not owned by authenticated user
            - Domain has active DNS records (use force=true to override)
            - API key lacks deletion privileges
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: |
            Conflict - cannot delete
            - Domain has active DNS records
            - Domain is referenced by other resources
            - Concurrent modification detected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/ServerError'

  /templates:
    get:
      summary: Get all domain templates
      description: |
        Retrieve all available domain templates from PowerDNS Admin.
        Templates can be used to create domains with predefined settings.
        
        **🔑 Requires Admin API Key**
      tags:
        - Templates
      responses:
        '200':
          description: List of domain templates
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Template'
                  message:
                    type: string
        '401':
          description: Unauthorized - Valid Admin API Key required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      summary: Create new domain template
      description: |
        Create a new domain template in PowerDNS Admin.
        
        **🔑 Requires Admin API Key**
        
        **🔐 SECURITY CONSIDERATIONS:**
        - Template content validated for DNS record injection
        - Template names must be unique and follow naming conventions
        - All template creation logged for audit trails
        - Input sanitization prevents malicious template content
      tags:
        - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateCreate'
      responses:
        '201':
          description: Template created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '400':
          description: |
            Bad request - invalid template data
            - Invalid DNS record format in template
            - Malformed JSON payload
            - Template name validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - Valid Admin API Key required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: |
            Conflict - template already exists
            - Template name already in use
            - Duplicate template content detected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: |
            Validation failed
            - DNS record validation errors in template
            - Invalid template structure
            - Template content security violations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/ServerError'

  /templates/{id}:
    get:
      summary: Get template by ID
      description: |
        Retrieve a specific domain template by its ID.
      tags:
        - Templates
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Template ID
      responses:
        '200':
          description: Template details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Template'
                  message:
                    type: string
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    put:
      summary: Update template
      description: |
        Update an existing domain template.
      tags:
        - Templates
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Template ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateUpdate'
      responses:
        '200':
          description: Template updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    delete:
      summary: Delete template
      description: |
        Delete a domain template from PowerDNS Admin.
        **Warning**: This action cannot be undone.
      tags:
        - Templates
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Template ID
      responses:
        '200':
          description: Template deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /templates/{id}/create-domain:
    post:
      summary: Create domain from template
      description: |
        Create a new domain using a predefined template.
        The template will be applied to set up the domain with default records and settings.
      tags:
        - Templates
        - Domains
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Template ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  description: Domain name to create
                account_id:
                  type: integer
                  description: Account ID to assign the domain to
                description:
                  type: string
                  description: Optional description for the domain
      responses:
        '201':
          description: Domain created from template successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Domain'
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /domain-account:
    post:
      summary: Domain-Account operations
      description: |
        Perform operations to manage domain-account relationships.
        
        **🔑 Requires Admin API Key**
        
        **⚠️ CRITICAL SECURITY WARNINGS:**
        - **DOMAIN HIJACKING RISK:** Can reassign domains between accounts
        - **OWNERSHIP VALIDATION:** Must verify current account owns domain before changes
        - **AUDIT TRAIL:** All domain reassignments logged with timestamps and user info
        - **IRREVERSIBLE:** Domain reassignments cannot be easily undone
        
        **🔐 SECURITY REQUIREMENTS:**
        - Admin API key required for ALL operations
        - Domain ownership verified before any modifications
        - Account permissions checked before assignments
        - Rate limiting enforced to prevent abuse
      tags:
        - Domain-Account
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [add, remove, list]
          description: Action to perform (add, remove, list)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/DomainAccountAdd'
                - $ref: '#/components/schemas/DomainAccountRemove'
                - $ref: '#/components/schemas/DomainAccountList'
            examples:
              add_domain:
                summary: Add domain to account
                value:
                  domain_name: "example.com."
                  account_id: 1
              remove_domain:
                summary: Remove domain from account
                value:
                  domain_name: "example.com."
              list_domains:
                summary: List account domains
                value:
                  account_id: 1
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SuccessMessage'
                  - $ref: '#/components/schemas/AccountDomainsList'
        '400':
          description: |
            Bad request - invalid operation parameters
            - Invalid domain name format
            - Missing required fields
            - Invalid account ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - Valid Admin API Key required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: |
            Forbidden - security violation
            - Domain not owned by source account
            - Insufficient permissions for domain reassignment
            - Account lacks required privileges
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: |
            Not found
            - Domain does not exist
            - Account not found
            - Domain-account relationship not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: |
            Conflict - operation cannot be completed
            - Domain already assigned to target account
            - Concurrent modification detected
            - Domain in locked state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/ServerError'

  /status:
    get:
      summary: API status and health check
      description: |
        Get API status and health information.
        
        **🔑 Requires Admin API Key**
        
        **ℹ️ INFORMATION SECURITY:**
        - System status information restricted to admins only
        - Health checks reveal internal system state
        - Connection tests may expose backend configuration
        - All status requests logged for security monitoring
      tags:
        - Status
      parameters:
        - name: action
          in: query
          schema:
            type: string
            enum: [test_connection, sync_all, health]
          description: Specific action to perform
      responses:
        '200':
          description: Status information
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ApiStatus'
                  - $ref: '#/components/schemas/ConnectionTest'
                  - $ref: '#/components/schemas/SyncResult'
                  - $ref: '#/components/schemas/HealthCheck'
        '401':
          description: Unauthorized - Valid Admin API Key required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/ServerError'

  /ip-allowlist:
    get:
      summary: List IP allowlist entries
      description: |
        Retrieve all IP addresses in the global allowlist.
        
        **🔑 Requires Admin API Key**
        
        **🛡️ SECURITY MANAGEMENT:**
        - View all allowed IP addresses and CIDR ranges
        - Check enabled/disabled status
        - Review descriptions and timestamps
        - Critical for security auditing and management
      tags:
        - IP Allowlist
        - Security
      responses:
        '200':
          description: List of IP allowlist entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/IPAllowlistEntry'
                  count:
                    type: integer
                    example: 5
        '401':
          description: Unauthorized - Valid Admin API Key required
        '500':
          $ref: '#/components/responses/ServerError'
    
    post:
      summary: Add IP to allowlist
      description: |
        Add a new IP address or CIDR range to the global allowlist.
        
        **🔑 Requires Admin API Key**
        
        **🛡️ SECURITY IMPACT:**
        - Grants API access to specified IP/range
        - Takes effect immediately
        - All new IPs are enabled by default
        - Supports both IPv4 and IPv6 with CIDR notation
      tags:
        - IP Allowlist
        - Security
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ip_address
              properties:
                ip_address:
                  type: string
                  description: IP address or CIDR range
                  example: "192.168.1.100"
                description:
                  type: string
                  description: Description for this IP entry
                  example: "Office workstation"
                enabled:
                  type: boolean
                  description: Whether this IP should be enabled
                  default: true
      responses:
        '201':
          description: IP address added successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "IP address added to allowlist"
                  data:
                    $ref: '#/components/schemas/IPAllowlistEntry'
        '400':
          description: Bad request - Invalid IP address or missing required fields
        '401':
          description: Unauthorized - Valid Admin API Key required
        '409':
          description: Conflict - IP address already exists in allowlist
        '500':
          $ref: '#/components/responses/ServerError'

  /ip-allowlist/{id}:
    put:
      summary: Update IP allowlist entry
      description: |
        Update an existing IP allowlist entry.
        
        **🔑 Requires Admin API Key**
        
        **🛡️ SECURITY IMPACT:**
        - Modify existing IP access permissions
        - Can enable/disable access without deletion
        - Changes take effect immediately
      tags:
        - IP Allowlist
        - Security
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: IP allowlist entry ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ip_address:
                  type: string
                  description: Updated IP address or CIDR range
                  example: "192.168.1.0/24"
                description:
                  type: string
                  description: Updated description
                  example: "Office network range"
                enabled:
                  type: boolean
                  description: Enable or disable this IP entry
      responses:
        '200':
          description: IP allowlist entry updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "IP allowlist entry updated"
                  data:
                    $ref: '#/components/schemas/IPAllowlistEntry'
        '400':
          description: Bad request - Invalid data or no fields to update
        '401':
          description: Unauthorized - Valid Admin API Key required
        '404':
          description: Not found - IP allowlist entry not found
        '409':
          description: Conflict - IP address already exists in allowlist
        '500':
          $ref: '#/components/responses/ServerError'
    
    delete:
      summary: Remove IP from allowlist
      description: |
        Remove an IP address from the global allowlist.
        
        **🔑 Requires Admin API Key**
        
        **⚠️ SECURITY WARNING:**
        - Permanently removes IP access
        - Cannot be undone without re-adding
        - May immediately block active connections from this IP
        - Use disable instead for temporary access removal
      tags:
        - IP Allowlist
        - Security
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: IP allowlist entry ID
      responses:
        '200':
          description: IP address removed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "IP address removed from allowlist"
                  data:
                    type: object
                    properties:
                      ip_address:
                        type: string
                        example: "192.168.1.100"
        '401':
          description: Unauthorized - Valid Admin API Key required
        '404':
          description: Not found - IP allowlist entry not found
        '500':
          $ref: '#/components/responses/ServerError'

  /ip-allowlist/test:
    post:
      summary: Test IP allowlist access
      description: |
        Test if a specific IP address would be allowed by the current allowlist.
        
        **🔑 Requires Admin API Key**
        
        **🔍 TESTING & DEBUGGING:**
        - Validate IP access before making changes
        - Test CIDR range matching
        - Verify allowlist configuration
        - Useful for troubleshooting access issues
      tags:
        - IP Allowlist
        - Security
        - Testing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ip_address
              properties:
                ip_address:
                  type: string
                  description: IP address to test
                  example: "192.168.1.50"
      responses:
        '200':
          description: IP test result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  ip_address:
                    type: string
                    example: "192.168.1.50"
                  allowed:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "IP address is allowed"
        '400':
          description: Bad request - Invalid IP address format
        '401':
          description: Unauthorized - Valid Admin API Key required
        '500':
          $ref: '#/components/responses/ServerError'

  /api/api-keys:
    get:
      summary: List all API keys
      description: |
        Retrieve all account-scoped API keys.
        
        **🔑 Requires Admin API Key**
        
        **🔐 API KEY MANAGEMENT:**
        - View all account-scoped API keys
        - See key previews (first 12 characters)
        - Check account associations
        - Review permissions and IP restrictions
        - Monitor last usage timestamps
        - Note: Full API key is NEVER returned (only on creation)
        
        **SECURITY LAYERS:**
        1. **Global IP Allowlist** - All requests must pass this first
        2. **Per-Key IP Restrictions** - Optional additional IP filtering per key
        3. **Account Scope** - Keys restricted to specific account's domains
        4. **Permissions** - Granular read/write/create/delete control
      tags:
        - API Keys
        - Security
      parameters:
        - name: account_id
          in: query
          schema:
            type: integer
          description: Filter API keys by account ID
      responses:
        '200':
          description: List of API keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKey'
              examples:
                all_keys:
                  summary: All API keys
                  value:
                    data:
                      - id: 3
                        key_preview: "pdns_d0dbc9f..."
                        account_id: 5
                        description: "Production key for customer"
                        permissions:
                          domains: "rw"
                          create_domains: true
                          delete_domains: false
                          scope: "account"
                        allowed_ips: ["192.168.1.0/24", "10.0.0.50"]
                        enabled: true
                        created_at: "2025-12-07 10:30:00"
                        last_used_at: "2025-12-07 15:45:00"
                        expires_at: null
        '401':
          description: Unauthorized - Valid Admin API Key required
        '403':
          description: Forbidden - Only admin API keys can manage API keys
        '500':
          $ref: '#/components/responses/ServerError'
    
    post:
      summary: Create account-scoped API key
      description: |
        Create a new API key for a specific account with granular permissions.
        
        **🔑 Requires Admin API Key**
        
        **⚠️ IMPORTANT: Full API key is ONLY shown once on creation!**
        
        **PERMISSION STRUCTURE:**
        ```json
        {
          "domains": "rw",           // "r" (read), "w" (write), "rw" (both)
          "create_domains": true,    // Can create new domains
          "delete_domains": false,   // Can delete domains
          "scope": "account"         // Always "account" for scoped keys
        }
        ```
        
        **IP RESTRICTIONS:**
        - `allowed_ips: null` - Uses global allowlist only
        - `allowed_ips: [...]` - Client IP must be in BOTH global AND key-specific lists
        - Supports single IPs: `"192.168.1.100"`
        - Supports CIDR ranges: `"10.0.0.0/8"`, `"192.168.1.0/24"`
      tags:
        - API Keys
        - Security
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - account_id
              properties:
                account_id:
                  type: integer
                  description: Account ID this key will be restricted to
                  example: 5
                description:
                  type: string
                  description: Human-readable description of the key's purpose
                  example: "Customer portal API access"
                permissions:
                  type: object
                  description: Granular permissions for this key
                  properties:
                    domains:
                      type: string
                      enum: ["r", "w", "rw"]
                      description: Domain read/write permissions
                      example: "rw"
                    create_domains:
                      type: boolean
                      description: Allow creating new domains
                      example: true
                    delete_domains:
                      type: boolean
                      description: Allow deleting domains
                      example: false
                allowed_ips:
                  type: array
                  nullable: true
                  items:
                    type: string
                  description: Array of allowed IP addresses/CIDR ranges (null = no restriction)
                  example: ["192.168.1.0/24", "10.0.0.50"]
                enabled:
                  type: boolean
                  description: Enable the key immediately
                  default: true
                  example: true
                expires_at:
                  type: string
                  format: date-time
                  nullable: true
                  description: Expiration timestamp (null = never expires)
                  example: "2026-12-31 23:59:59"
      responses:
        '201':
          description: API key created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "API key created successfully"
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 4
                      api_key:
                        type: string
                        description: "⚠️ SAVE THIS! Full key only shown once"
                        example: "pdns_d0dbc9fd6f0cb69319c84e755dbf8d78e72f46720dfa9a2e..."
                      account_id:
                        type: integer
                        example: 5
                      account_username:
                        type: string
                        example: "customer_account"
                      description:
                        type: string
                        example: "Customer portal API access"
                      permissions:
                        type: object
                      allowed_ips:
                        type: array
                        items:
                          type: string
                      enabled:
                        type: boolean
                      expires_at:
                        type: string
                        nullable: true
                      warning:
                        type: string
                        example: "Save this API key securely. It will not be displayed again."
        '400':
          description: Bad request - Missing required fields or invalid data
        '401':
          description: Unauthorized - Valid Admin API Key required
        '403':
          description: Forbidden - Only admin API keys can create API keys
        '404':
          description: Not found - Account does not exist
        '500':
          $ref: '#/components/responses/ServerError'

  /api/api-keys/{id}:
    get:
      summary: Get API key details
      description: |
        Retrieve details for a specific API key.
        
        **🔑 Requires Admin API Key**
        
        **Note:** Full API key is never returned, only preview (first 12 chars)
      tags:
        - API Keys
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: API key ID
      responses:
        '200':
          description: API key details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ApiKey'
        '401':
          description: Unauthorized - Valid Admin API Key required
        '403':
          description: Forbidden - Only admin API keys can view API keys
        '404':
          description: Not found - API key not found
        '500':
          $ref: '#/components/responses/ServerError'
    
    put:
      summary: Update API key
      description: |
        Update an existing API key's permissions, description, or IP restrictions.
        
        **🔑 Requires Admin API Key**
        
        **UPDATABLE FIELDS:**
        - Description
        - Permissions (domains, create_domains, delete_domains)
        - IP restrictions (allowed_ips)
        - Enabled status
        - Expiration date
        
        **Note:** The API key itself cannot be changed
      tags:
        - API Keys
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: API key ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  example: "Updated description"
                permissions:
                  type: object
                  properties:
                    domains:
                      type: string
                      enum: ["r", "w", "rw"]
                    create_domains:
                      type: boolean
                    delete_domains:
                      type: boolean
                allowed_ips:
                  type: array
                  nullable: true
                  items:
                    type: string
                  description: Set to [] or null to remove IP restrictions
                  example: ["192.168.1.0/24"]
                enabled:
                  type: boolean
                  description: Enable or disable the key
                expires_at:
                  type: string
                  format: date-time
                  nullable: true
      responses:
        '200':
          description: API key updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "API key updated successfully"
        '400':
          description: Bad request - Invalid data or no fields to update
        '401':
          description: Unauthorized - Valid Admin API Key required
        '403':
          description: Forbidden - Only admin API keys can update API keys
        '404':
          description: Not found - API key not found
        '500':
          $ref: '#/components/responses/ServerError'
    
    delete:
      summary: Delete API key
      description: |
        Permanently delete an API key.
        
        **🔑 Requires Admin API Key**
        
        **⚠️ WARNING:**
        - Permanently removes the API key
        - Cannot be undone
        - Active sessions using this key will be invalidated
        - Consider disabling instead for temporary deactivation
      tags:
        - API Keys
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: API key ID
      responses:
        '200':
          description: API key deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "API key deleted successfully"
        '401':
          description: Unauthorized - Valid Admin API Key required
        '403':
          description: Forbidden - Only admin API keys can delete API keys
        '404':
          description: Not found - API key not found
        '500':
          $ref: '#/components/responses/ServerError'

components:
  securitySchemes:
    AdminApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        **ADMIN API KEY + GLOBAL IP ALLOWLIST AUTHENTICATION**
        
        **DUAL AUTHENTICATION - SIMPLE & SECURE:**
        1. **Valid Admin API Key** - Single key for all administrative access  
        2. **Global IP Allowlist** - Same allowlist applies to ALL endpoints uniformly
        
        **📋 AUTHENTICATION REQUIREMENTS:**
        - **Swagger UI access** - No authentication required (for easy development)
        - **OpenAPI documentation** - No authentication required (for easy access)  
        - **ALL API endpoints** - Full authentication required (API key + IP allowlist)
        - **Health check** - No authentication required (monitoring)
        
        **API Key Format:** `X-API-Key: <your-api-key>`
        
        **Example:** 
        ```
        Authorization: Basic NDZiM2Q3OGM1NTdjZDY2YTA0N2EzODg5NzkxNGQyMDNhYjVjMzU5NzE5MTYxZTgzNmVjY2U1NTA4ZTU3YjFhOTo=
        ```
        
        **🛡️ GLOBAL IP ALLOWLIST - DATABASE-DRIVEN & DYNAMIC:**
        - Single allowlist applies to ALL API endpoints uniformly
        - **Stored in MySQL database** for persistence and easy management
        - No per-endpoint complexity - either you're allowed or you're not
        - Both IPv4 and IPv6 addresses supported with CIDR notation
        - **Enable/disable IPs** without deletion for temporary access control
        - Easy to manage via CLI tool and audit via database logs
        
        **Dynamic Management via CLI:**
        ```bash
        # List all allowed IPs
        php manage-ips-clean.php list
        
        # Add IPs with descriptions
        php manage-ips-clean.php add "203.0.113.25" "Admin home IP"
        php manage-ips-clean.php add "192.168.1.0/24" "Office network"
        php manage-ips-clean.php add "2001:db8::/32" "IPv6 network"
        
        # Temporarily disable/enable IPs
        php manage-ips-clean.php disable "203.0.113.25"
        php manage-ips-clean.php enable "203.0.113.25"
        
        # Remove IPs permanently
        php manage-ips-clean.php remove "203.0.113.25"
        
        # Test IP access
        php manage-ips-clean.php test "192.168.1.100"
        ```
        
        **Database Storage:**
        ```sql
        -- IPs stored in ip_allowlist table
        SELECT ip_address, description, enabled 
        FROM ip_allowlist 
        WHERE enabled = 1;
        ```
        
        **Security Benefits:**
        - **Defense in depth:** Both API key AND IP must be valid
        - **Zero complexity:** Same rules apply everywhere  
        - **Dynamic management:** Add/remove IPs without restarts
        - **Database persistence:** Changes survive server restarts
        - **Temporary control:** Enable/disable without deletion
        - **Complete protection:** API inaccessible from non-allowed IPs
        - **Performance:** In-memory caching with database fallback
        
        **Security Notes:**
        - **Dual authentication:** API key AND IP allowlist required
        - One API key for all administrative operations  
        - Full access to accounts, domains, templates, and DNS records
        - **Database-driven allowlist** prevents unauthorized access even with valid key
        - Should be rotated regularly and kept secure
        - **Update allowlist dynamically** via CLI tool when network changes
        - **Audit trail:** All IP changes tracked in database with timestamps
      
  responses:
    BadRequest:
      description: Bad Request - Invalid input data
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
    
    Unauthorized:
      description: Unauthorized - Authentication required  
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
    
    Forbidden:
      description: |
        Forbidden - Access denied due to security restrictions
        - Invalid or missing API key
        - IP address not in allowlist  
        - Insufficient privileges for operation
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                enum:
                  - "IP address not authorized for API access"
                  - "Invalid Admin API Key"
                  - "Insufficient privileges for this operation"
                  - "Domain not owned by authenticated user"
              client_ip:
                type: string
                description: "Client IP address (for IP blocking errors)"
              allowed_ips:
                type: array
                items:
                  type: string
                description: "List of allowed IP ranges (for debugging)"
    
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
    
    Conflict:
      description: Conflict - Resource already exists
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
    
    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              retry_after:
                type: integer
                description: "Seconds until next request allowed"
    
    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string

  schemas:
    Account:
      type: object
      properties:
        id:
          type: integer
          description: Account ID
        username:
          type: string
          description: Username (unique)
        firstname:
          type: string
          description: First name
        lastname:
          type: string
          description: Last name
        email:
          type: string
          format: email
          description: Email address
        role_id:
          type: integer
          description: Role ID (2 = User, 1 = Admin)
        ip_addresses:
          type: array
          items:
            type: string
            format: ipv4 | ipv6
          description: List of IP addresses (IPv4/IPv6, local storage only)
        customer_id:
          type: integer
          description: Customer ID for business relationships
        pdns_account_id:
          type: integer
          nullable: true
          description: PowerDNS Admin account ID (synced from PowerDNS Admin)
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp

    AccountCreate:
      type: object
      required:
        - username
        - plain_text_password
        - firstname  
        - email
      properties:
        username:
          type: string
          description: Username for PowerDNS Admin (must be unique)
        plain_text_password:
          type: string
          description: Plain text password for PowerDNS Admin user
        firstname:
          type: string
          description: First name
        lastname:
          type: string
          description: Last name
        email:
          type: string
          format: email
          description: Email address
        role:
          type: object
          description: User role object
          properties:
            id:
              type: integer
              description: Role ID (2 = User, 1 = Admin)
            name:
              type: string
              description: Role name
          required:
            - id
            - name
        ip_addresses:
          type: array
          items:
            type: string
            format: ipv4 | ipv6
          description: List of IP addresses (IPv4/IPv6, local storage only)
        customer_id:
          type: integer
          description: Customer ID for business relationships

    AccountIdentifier:
      type: object
      oneOf:
        - type: object
          required: [id]
          properties:
            id:
              type: integer
              description: Account ID
          additionalProperties: false
        - type: object
          required: [username]
          properties:
            username:
              type: string
              description: Account username
          additionalProperties: false
      description: Account identifier object (either ID or username, not both)

    AccountUpdateRequest:
      type: object
      oneOf:
        - allOf:
          - type: object
            required: [id]
            properties:
              id:
                type: integer
                description: Account ID
          - $ref: '#/components/schemas/AccountUpdate'
        - allOf:
          - type: object
            required: [username]
            properties:
              username:
                type: string
                description: Account username
          - $ref: '#/components/schemas/AccountUpdate'
      description: Account update request with identifier and update fields

    AccountUpdate:
      type: object
      properties:
        firstname:
          type: string
          description: First name
        lastname:
          type: string
          description: Last name
        email:
          type: string
          format: email
          description: Email address
        role_id:
          type: integer
          description: Role ID
        ip_addresses:
          type: array
          items:
            type: string
            format: ipv4 | ipv6
          description: List of IP addresses (IPv4/IPv6)
        customer_id:
          type: integer
          nullable: true
          description: Customer ID

    Domain:
      type: object
      properties:
        id:
          type: integer
          description: Domain ID
        name:
          type: string
          description: Domain name
        type:
          type: string
          description: Domain type
        account_id:
          type: integer
          nullable: true
          description: Associated account ID
        account_name:
          type: string
          nullable: true
          description: Associated account name
        pdns_zone_id:
          type: string
          description: PDNSAdmin zone ID
        kind:
          type: string
          enum: [Native, Master, Slave]
          description: Zone kind
        masters:
          type: string
          description: Comma-separated list of master servers
        dnssec:
          type: boolean
          description: DNSSEC enabled
        account:
          type: string
          description: Account name from PDNSAdmin
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp

    IPAllowlistEntry:
      type: object
      properties:
        id:
          type: integer
          description: Allowlist entry ID
          example: 1
        ip_address:
          type: string
          description: IP address or CIDR range
          example: "192.168.1.100"
        description:
          type: string
          description: Description of this IP entry
          example: "Office workstation"
        enabled:
          type: boolean
          description: Whether this IP is currently enabled
          example: true
        created_at:
          type: string
          format: date-time
          description: When this entry was created
          example: "2025-08-10T08:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: When this entry was last updated
          example: "2025-08-10T08:30:00Z"

    DomainUpdate:
      type: object
      properties:
        account_id:
          type: integer
          nullable: true
          description: Account ID to assign domain to (null to remove)
        kind:
          type: string
          enum: [Native, Master, Slave]
          description: Zone kind
        masters:
          type: array
          items:
            type: string
          description: List of master servers
        dnssec:
          type: boolean
          description: Enable DNSSEC

    DomainSearchResult:
      type: object
      properties:
        id:
          type: integer
          description: Local database ID
        name:
          type: string
          description: Domain name
        pdns_zone_id:
          type: integer
          description: PowerDNS zone ID

    DomainDetails:
      type: object
      description: Complete domain information from PowerDNS Server API
      properties:
        id:
          type: string
          description: Zone ID (FQDN with trailing dot)
        name:
          type: string
          description: Zone name (FQDN with trailing dot)
        type:
          type: string
          description: Resource type
        kind:
          type: string
          description: Zone kind
        dnssec:
          type: boolean
          description: DNSSEC enabled
        edited_serial:
          type: integer
          description: Last edited serial
        masters:
          type: array
          items:
            type: string
          description: Master server addresses
        rrsets:
          type: array
          description: DNS record sets
          items:
            $ref: '#/components/schemas/RRSet'

    RRSet:
      type: object
      description: DNS Resource Record Set
      properties:
        name:
          type: string
          description: Record name (FQDN with trailing dot)
        type:
          type: string
          description: DNS record type
        ttl:
          type: integer
          description: Time to live in seconds
        records:
          type: array
          description: DNS records in this set
          items:
            $ref: '#/components/schemas/DNSRecord'

    DNSRecord:
      type: object
      description: Individual DNS record
      properties:
        content:
          type: string
          description: Record content/value
        disabled:
          type: boolean
          description: Whether record is disabled

    RRSetUpdate:
      type: object
      description: |
        DNS record set update operation with security validation.
        
        **🛡️ SECURITY VALIDATION:**
        - Record names must belong to the domain being updated
        - DNS record content validated for proper format
        - Dangerous record types (NS, SOA) require additional verification
        - Maximum 100 records per update to prevent abuse
      required:
        - name
        - type
        - changetype
      properties:
        name:
          type: string
          description: Record name (FQDN with trailing dot) - must be subdomain of zone
          pattern: "^[a-zA-Z0-9]([a-zA-Z0-9\\-]{0,61}[a-zA-Z0-9])?(\\.[a-zA-Z0-9]([a-zA-Z0-9\\-]{0,61}[a-zA-Z0-9])?)*\\.$"
        type:
          type: string
          description: DNS record type (A, AAAA, CNAME, MX, TXT, SRV)
          enum: ["A", "AAAA", "CNAME", "MX", "TXT", "SRV", "PTR", "NS"]
        changetype:
          type: string
          enum: ["REPLACE", "DELETE"]
          description: Operation type
        records:
          type: array
          description: Records for REPLACE operations (omit for DELETE)
          maxItems: 100
          items:
            $ref: '#/components/schemas/DNSRecord'

    DomainAccountAdd:
      type: object
      required:
        - domain_name
        - account_id
      properties:
        domain_name:
          type: string
          description: Domain name to add to account
        account_id:
          type: integer
          description: Account ID

    DomainAccountRemove:
      type: object
      required:
        - domain_name
      properties:
        domain_name:
          type: string
          description: Domain name to remove from account

    DomainAccountList:
      type: object
      required:
        - account_id
      properties:
        account_id:
          type: integer
          description: Account ID to list domains for

    AccountDomainsList:
      type: object
      properties:
        data:
          type: object
          properties:
            account:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
            domains:
              type: array
              items:
                $ref: '#/components/schemas/Domain'
            domain_count:
              type: integer
        message:
          type: string

    ApiStatus:
      type: object
      properties:
        data:
          type: object
          properties:
            api_version:
              type: string
            timestamp:
              type: string
              format: date-time
            endpoints:
              type: object
              additionalProperties:
                type: string
                accounts: "/api/accounts"
                domains: "/api/domains"
                status: "/api/status"
            pdns_admin_status:
              type: string
              enum: [connected, disconnected]
            database_status:
              type: string
              enum: [connected, disconnected]
        message:
          type: string

    ConnectionTest:
      type: object
      properties:
        data:
          type: object
          properties:
            status:
              type: string
              enum: [connected, disconnected]
            pdns_domains_count:
              type: integer
        message:
          type: string

    SyncResult:
      type: object
      properties:
        data:
          type: object
          properties:
            accounts:
              type: object
              properties:
                status:
                  type: string
                count:
                  type: integer
            domains:
              type: object
              properties:
                status:
                  type: string
                count:
                  type: integer
        message:
          type: string

    HealthCheck:
      type: object
      properties:
        data:
          type: object
          properties:
            database:
              type: string
              enum: [connected, disconnected, unknown]
            timestamp:
              type: string
              format: date-time
            version:
              type: string
            local_accounts_count:
              type: integer
            local_domains_count:
              type: integer
        message:
          type: string

    ApiDocumentation:
      type: object
      properties:
        data:
          type: object
          properties:
            name:
              type: string
            version:
              type: string
            description:
              type: string
            endpoints:
              type: object
              additionalProperties:
                type: string
                accounts: "/api/accounts"
                domains: "/api/domains"
                status: "/api/status"
            setup_instructions:
              type: array
              items:
                type: string
        message:
          type: string

    SuccessMessage:
      type: object
      properties:
        message:
          type: string

    Template:
      type: object
      properties:
        id:
          type: integer
          description: Template ID
        name:
          type: string
          description: Template name
        description:
          type: string
          description: Template description
        records:
          type: array
          items:
            $ref: '#/components/schemas/TemplateRecord'
          description: Template records
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp

    TemplateCreate:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Template name
        description:
          type: string
          description: Template description
        records:
          type: array
          items:
            $ref: '#/components/schemas/TemplateRecordCreate'
          description: Template records to create

    TemplateUpdate:
      type: object
      properties:
        name:
          type: string
          description: Template name
        description:
          type: string
          description: Template description
        records:
          type: array
          items:
            $ref: '#/components/schemas/TemplateRecordCreate'
          description: Template records

    TemplateRecord:
      type: object
      properties:
        id:
          type: integer
          description: Record ID
        name:
          type: string
          description: Record name
        type:
          type: string
          description: Record type
        content:
          type: string
          description: Record content
        ttl:
          type: integer
          description: Time to live
        priority:
          type: integer
          description: Record priority (for MX records)

    TemplateRecordCreate:
      type: object
      required:
        - name
        - type
        - content
      properties:
        name:
          type: string
          description: Record name
        type:
          type: string
          enum: [A, AAAA, CNAME, MX, TXT, NS, PTR, SRV]
          description: Record type
        content:
          type: string
          description: Record content
        ttl:
          type: integer
          description: Time to live, default 3600
        priority:
          type: integer
          description: Record priority (for MX records)

    ApiKey:
      type: object
      properties:
        id:
          type: integer
          description: API key ID
          example: 3
        key_preview:
          type: string
          description: First 12 characters of API key (full key never returned)
          example: "pdns_d0dbc9f..."
        account_id:
          type: integer
          nullable: true
          description: Account ID this key is restricted to (null = admin key)
          example: 5
        description:
          type: string
          description: Human-readable description
          example: "Production API key for customer portal"
        permissions:
          type: object
          nullable: true
          description: Permission configuration (JSON)
          properties:
            domains:
              type: string
              enum: ["r", "w", "rw"]
              description: Domain access permissions
            create_domains:
              type: boolean
              description: Can create new domains
            delete_domains:
              type: boolean
              description: Can delete domains
            scope:
              type: string
              enum: ["account", "admin"]
              description: Access scope
          example:
            domains: "rw"
            create_domains: true
            delete_domains: false
            scope: "account"
        allowed_ips:
          type: array
          nullable: true
          items:
            type: string
          description: Allowed IP addresses/CIDR ranges (null = no restriction)
          example: ["192.168.1.0/24", "10.0.0.50"]
        enabled:
          type: boolean
          description: Whether the key is enabled
          example: true
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: "2025-12-07 10:30:00"
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2025-12-07 10:30:00"
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Expiration timestamp (null = never expires)
          example: null
        last_used_at:
          type: string
          format: date-time
          nullable: true
          description: Last usage timestamp
          example: "2025-12-07 15:45:00"
        created_by:
          type: integer
          nullable: true
          description: Admin user who created this key
          example: null

    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        errors:
          type: array
          items:
            type: string
          description: Detailed error messages

  responses:
    BadRequest:
      description: Bad request - Invalid input data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
            error: "Invalid request data"
            errors: ["Name is required", "Email format is invalid"]

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
            error: "Resource not found"

    Conflict:
      description: Conflict - Resource already exists
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
            error: "Account already exists"

    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
            error: "Internal server error"

tags:
  - name: Documentation
    description: API documentation and information
  - name: Accounts
    description: Account management operations with IP address support
  - name: API Keys
    description: Account-scoped API key management with granular permissions and IP restrictions
  - name: Domains
    description: Smart domain management with ID/name detection, DNS records, and PowerDNS Server API integration
  - name: Domain Search
    description: Intelligent domain search by ID, name, pattern, or contains matching
  - name: Domain Management
    description: Advanced domain operations including updates, deletion and DNS record management
  - name: Templates
    description: Domain template management operations
  - name: Domain-Account
    description: Domain-account relationship management
  - name: Status
    description: API status, health checks, and synchronization
  - name: IP Allowlist
    description: IP allowlist management for API security
  - name: Security
    description: Security-related operations and access control
  - name: Testing
    description: Testing and validation utilities
