{
  "openapi": "3.0.3",
  "info": {
    "title": "PowerDNS Admin API - Administrator Documentation",
    "description": "**Administrator API** - Full system access for PowerDNS management and configuration.\n\nFor user-focused documentation, see `/openapi-user.yaml`\n\n## Authentication\n\n**Admin API Key Required** - Single API key provides full administrative access.\nInclude `X-API-Key` or `Authorization: Bearer` header in requests.\n\n**Dual Authentication:**\n1. **Valid Admin API Key** - From AVANT_API_KEY environment variable\n2. **Global IP Allowlist** - Client IP must be in allowlist\n\n## Account-Scoped API Keys (New)\n\nCreate and manage account-scoped API keys for customers/users:\n- Restrict access to specific account's domains\n- Granular permissions (read, write, create, delete)\n- Optional per-key IP restrictions\n- Expiration dates and usage tracking\n- See `/api/api-keys` endpoints below\n\n## Environment Configuration\nAll sensitive configuration (API keys, database credentials, hosts) is stored in `.env`:\n- `AVANT_API_KEY` - Admin API key for authentication\n- `PDNS_API_KEY` - PowerDNS Admin API key\n- `PDNS_SERVER_KEY` - PowerDNS Server API key\n- `API_DB_HOST`, `API_DB_NAME`, `API_DB_USER`, `API_DB_PASS` - Local business logic database\n- `PDNS_ADMIN_DB_HOST`, `PDNS_ADMIN_DB_NAME`, `PDNS_ADMIN_DB_USER`, `PDNS_ADMIN_DB_PASS` - PowerDNS Admin database\n- IP allowlist and other security settings\n\n## Core Features\n- Account and user management with PowerDNS Admin sync\n- Domain management with intelligent ID/name detection\n- DNS record management via PowerDNS Server API\n- Template-based domain creation\n- Local database caching and metadata storage\n- Secure environment-based configuration (no hardcoded credentials)\n",
    "version": "1.1.0",
    "contact": {
      "name": "API Support - Silvester van der Leer",
      "email": "silvester@avant.nl"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://pdnsapi.avant.nl/",
      "description": "Production server (PowerDNS Admin API)"
    }
  ],
  "security": [
    {
      "AdminApiKey": []
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "API Documentation",
        "description": "Returns API documentation and available endpoints",
        "tags": [
          "Documentation"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "API documentation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiDocumentation"
                }
              }
            }
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "summary": "Get accounts with smart filtering",
        "description": "Retrieve accounts from local database with PowerDNS Admin synchronization.\n\n**\ud83d\udd11 Requires Admin API Key**\n\n**Filter Logic (AND conditions):**\n- Single parameter: Direct lookup\n- Multiple parameters: Must ALL match (validation)\n- `?id=14&username=admin` returns user only if ID 14 has username \"admin\"\n- Returns 404 if parameters don't match the same user\n",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by account ID (can combine with other filters for validation)"
          },
          {
            "name": "username",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by username (can combine with ID for validation)"
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by email address (can combine with other filters)"
          },
          {
            "name": "sync",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Sync from PowerDNS Admin before filtering"
          }
        ],
        "responses": {
          "200": {
            "description": "List of accounts or single account (with AND validation)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "all_accounts": {
                    "summary": "All accounts",
                    "value": {
                      "data": [],
                      "message": "Users retrieved successfully (47 users available)"
                    }
                  },
                  "single_filter": {
                    "summary": "Single filter (ID only)",
                    "value": {
                      "data": [
                        {
                          "id": 14,
                          "username": "admin"
                        }
                      ],
                      "message": "Found 1 user with ID 14"
                    }
                  },
                  "and_validation_success": {
                    "summary": "AND validation success",
                    "value": {
                      "data": [
                        {
                          "id": 14,
                          "username": "admin"
                        }
                      ],
                      "message": "Found user with ID 14 and username 'admin'"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Valid Admin API Key required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No accounts found or AND validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "summary": "Create a new account",
        "description": "Create a new account with optional IP addresses. The account is created in both PDNSAdmin and local database.\n\n**\ufffd Requires Admin API Key**\n",
        "tags": [
          "Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountCreate"
              },
              "examples": {
                "powerdns_admin_user": {
                  "summary": "PowerDNS Admin User Creation",
                  "value": {
                    "username": "testuser1754424578",
                    "plain_text_password": "36440b7d5ab7521f",
                    "firstname": "Test",
                    "lastname": "User",
                    "email": "test@example.com",
                    "role": {
                      "id": 2,
                      "name": "User"
                    },
                    "ip_addresses": [
                      "192.168.1.101",
                      "192.168.1.102",
                      "2001:db8::2"
                    ],
                    "customer_id": 1001
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data"
          },
          "401": {
            "description": "Unauthorized - Valid Admin API Key required"
          },
          "409": {
            "description": "Conflict - Username or email already exists"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "summary": "Update account",
        "description": "Update an existing account using JSON input. Changes are synced with PDNSAdmin (except IP addresses).\n\n**\ufffd Requires Admin API Key**\n\n**JSON Payload (Required):**\n- Include account identifier (`id` or `username`)\n- Include fields to update\n- IP addresses are stored locally only\n",
        "tags": [
          "Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdateRequest"
              },
              "examples": {
                "update_by_id": {
                  "summary": "Update account by ID",
                  "value": {
                    "id": 94,
                    "firstname": "Updated First Name",
                    "lastname": "Updated Last Name",
                    "email": "updated@example.com",
                    "ip_addresses": [
                      "192.168.1.101",
                      "192.168.1.102"
                    ]
                  }
                },
                "update_by_username": {
                  "summary": "Update account by username",
                  "value": {
                    "username": "johndoe",
                    "customer_id": 1001,
                    "ip_addresses": [
                      "192.168.1.200",
                      "2001:db8::5"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "summary": "Delete account",
        "description": "Delete an account from PowerDNS Admin using JSON input. The local database is automatically synced after deletion.\n\n**\ufffd Requires Admin API Key**\n**\u26a0\ufe0f Warning:** This action cannot be undone.\n\n**JSON Payload (Required):**\n- Use `{\"id\": 94}` to delete account by ID\n- Use `{\"username\": \"johndoe\"}` to delete account by username\n\n**Important:** This operation only deletes from PowerDNS Admin. The local database is updated through \nautomatic synchronization, ensuring the API remains the authoritative source for account management.\n",
        "tags": [
          "Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountIdentifier"
              },
              "examples": {
                "delete_by_id": {
                  "summary": "Delete account by ID",
                  "value": {
                    "id": 94
                  }
                },
                "delete_by_username": {
                  "summary": "Delete account by username",
                  "value": {
                    "username": "johndoe"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/domains": {
      "get": {
        "summary": "Get domains with intelligent search",
        "description": "Retrieve domains/zones with automatic PowerDNS Admin synchronization.\n\n**Smart Query with AND Filters:**\n- `q` parameter: Auto-detects search type (ID/name/pattern/contains)  \n- Additional filters: Combined as AND conditions\n- `?q=example.com&account_id=5` finds \"example.com\" AND belongs to account 5\n",
        "tags": [
          "Domains",
          "Domain Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Smart query (auto-detects ID/name/pattern/contains) - primary filter"
          },
          {
            "name": "account_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Additional filter - must match account (AND condition with q)"
          },
          {
            "name": "sync",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Sync from PowerDNS Admin before filtering"
          },
          {
            "name": "details",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include full DNS records via PowerDNS Server API (requires PowerDNS API key)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains/zones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/Domain"
                          },
                          {
                            "$ref": "#/components/schemas/DomainDetails"
                          }
                        ]
                      }
                    },
                    "message": {
                      "type": "string"
                    },
                    "query_type": {
                      "type": "string",
                      "enum": [
                        "all",
                        "id",
                        "name",
                        "pattern",
                        "contains",
                        "account"
                      ],
                      "description": "The type of query that was executed"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add domain to account",
        "description": "Add a domain to a specific account. This operation uses direct API calls\nto assign domains to accounts in PowerDNS Admin.\n\n**JSON Payload:**\n- `domain_name`: Domain name to assign (required)\n- `account_id`: Target account ID (required)\n",
        "tags": [
          "Domains"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain_name",
                  "account_id"
                ],
                "properties": {
                  "domain_name": {
                    "type": "string",
                    "description": "Domain name to add (include trailing dot)"
                  },
                  "account_id": {
                    "type": "integer",
                    "description": "Account ID to assign domain to"
                  }
                }
              },
              "examples": {
                "add_domain_to_account": {
                  "summary": "Add domain to account",
                  "value": {
                    "domain_name": "example.com.",
                    "account_id": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain added to account successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "summary": "Update domain by ID or name",
        "description": "Update domain settings and DNS records.\nSupports both ID and name-based updates with PowerDNS Admin and Server API integration.\n\n**\ud83d\udd11 Requires Admin API Key**\n\n**\u26a0\ufe0f SECURITY WARNINGS:**\n- **Domain Ownership:** Only domains owned by authenticated account can be modified\n- **DNS Record Validation:** All DNS records are validated before application\n- **Account Transfer:** Changing account_id requires ownership verification\n- **Zone Type Changes:** Changing kind/masters affects DNS resolution - use with caution\n\n**\ud83d\udee1\ufe0f VALIDATION ENFORCED:**\n- DNS record content validated (A/AAAA/CNAME/MX formats)\n- Master server IPs validated for Slave zones\n- Account ownership verified before transfers\n- DNSSEC changes require additional validation\n",
        "tags": [
          "Domains",
          "Domain Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Domain ID (use this OR name, not both)"
                  },
                  "name": {
                    "type": "string",
                    "description": "Domain name (use this OR id, not both)"
                  },
                  "account_id": {
                    "type": "integer",
                    "nullable": true,
                    "description": "Account ID to assign domain to"
                  },
                  "kind": {
                    "type": "string",
                    "enum": [
                      "Native",
                      "Master",
                      "Slave"
                    ],
                    "description": "Zone kind"
                  },
                  "masters": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Master servers (for Slave zones)"
                  },
                  "dnssec": {
                    "type": "boolean",
                    "description": "Enable DNSSEC"
                  },
                  "rrsets": {
                    "type": "array",
                    "description": "DNS record updates (PowerDNS Server API)",
                    "items": {
                      "$ref": "#/components/schemas/RRSetUpdate"
                    }
                  }
                },
                "anyOf": [
                  {
                    "required": [
                      "id"
                    ]
                  },
                  {
                    "required": [
                      "name"
                    ]
                  }
                ]
              },
              "examples": {
                "update_by_id": {
                  "summary": "Update domain by ID",
                  "value": {
                    "id": 123,
                    "kind": "Native",
                    "dnssec": true
                  }
                },
                "update_by_name": {
                  "summary": "Update domain by name",
                  "value": {
                    "name": "example.com",
                    "account_id": 2
                  }
                },
                "update_dns_records": {
                  "summary": "Update DNS records by name",
                  "value": {
                    "name": "example.com",
                    "rrsets": [
                      {
                        "name": "www.example.com.",
                        "type": "A",
                        "changetype": "REPLACE",
                        "records": [
                          {
                            "content": "192.168.1.100"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "validation_warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid DNS records or validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "field": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Valid Admin API Key required"
          },
          "403": {
            "description": "Forbidden - Domain ownership verification failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Domain not found"
          },
          "422": {
            "description": "Validation Error - DNS record validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "validation_errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "error": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete domain by ID or name",
        "description": "**\ud83d\udea8 DESTRUCTIVE OPERATION** - Delete domain permanently.\n\n**\ud83d\udd11 Requires Admin API Key**\n\n**\u26a0\ufe0f CRITICAL SECURITY WARNINGS:**\n- **Irreversible Action:** Domain deletion cannot be undone\n- **Ownership Verification:** Only domains owned by authenticated account can be deleted  \n- **DNS Resolution Impact:** Domain will immediately stop resolving\n- **Cascade Effects:** All DNS records will be permanently lost\n- **Zone Dependencies:** Check for dependent subdomains before deletion\n\n**\ud83d\udee1\ufe0f SAFETY MEASURES:**\n- Domain ownership verified before deletion\n- Audit logging with administrator details\n- PowerDNS Admin and local database automatically synced\n",
        "tags": [
          "Domains",
          "Domain Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Domain ID (use this OR name, not both)"
                  },
                  "name": {
                    "type": "string",
                    "description": "Domain name (use this OR id, not both)"
                  }
                },
                "anyOf": [
                  {
                    "required": [
                      "id"
                    ]
                  },
                  {
                    "required": [
                      "name"
                    ]
                  }
                ]
              },
              "examples": {
                "delete_by_id": {
                  "summary": "Delete domain by ID",
                  "value": {
                    "id": 123
                  }
                },
                "delete_by_name": {
                  "summary": "Delete domain by name",
                  "value": {
                    "name": "example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "audit_log": {
                      "type": "object",
                      "properties": {
                        "deleted_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "records_count": {
                          "type": "integer",
                          "description": "Number of DNS records that were deleted"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid domain identifier"
          },
          "401": {
            "description": "Unauthorized - Valid Admin API Key required"
          },
          "403": {
            "description": "Forbidden - Domain ownership verification failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Domain not found"
          },
          "409": {
            "description": "Conflict - Domain has active dependencies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "dependencies": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/domains/{id}": {
      "get": {
        "summary": "Get individual domain by ID",
        "description": "Retrieve a specific domain by its ID from the local database.\n",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Domain ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Domain details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Domain"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "summary": "Update domain by ID (path parameter)",
        "description": "Update a specific domain using path parameter for ID.\nAlternative to PUT /domains with JSON payload.\n\n**\ud83d\udd10 SECURITY REQUIREMENTS:**\n- Admin API key required for ALL modifications\n- Ownership validation enforced (can only modify domains you own)\n- Input validation prevents DNS record injection attacks\n- All changes logged for audit trails\n",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Domain ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainUpdate"
              },
              "examples": {
                "change_account": {
                  "summary": "Transfer domain to another account",
                  "description": "Move a domain to a different account (requires admin privileges)",
                  "value": {
                    "account_id": 2
                  }
                },
                "enable_dnssec": {
                  "summary": "Enable DNSSEC for domain",
                  "description": "Activate DNSSEC signing for the zone",
                  "value": {
                    "dnssec": true
                  }
                },
                "disable_dnssec": {
                  "summary": "Disable DNSSEC",
                  "description": "Turn off DNSSEC signing",
                  "value": {
                    "dnssec": false
                  }
                },
                "convert_to_slave": {
                  "summary": "Convert domain to slave zone",
                  "description": "Change zone type to slave and configure master servers",
                  "value": {
                    "kind": "Slave",
                    "masters": [
                      "192.168.1.100",
                      "192.168.1.101"
                    ]
                  }
                },
                "convert_to_master": {
                  "summary": "Convert domain to master zone",
                  "description": "Change zone type to master (native)",
                  "value": {
                    "kind": "Master",
                    "masters": []
                  }
                },
                "convert_to_native": {
                  "summary": "Convert to native zone",
                  "description": "Standard PowerDNS native zone (most common)",
                  "value": {
                    "kind": "Native"
                  }
                },
                "update_slave_masters": {
                  "summary": "Update master servers for slave zone",
                  "description": "Change which servers to replicate from",
                  "value": {
                    "masters": [
                      "10.0.0.5",
                      "10.0.0.6",
                      "10.0.0.7"
                    ]
                  }
                },
                "full_update": {
                  "summary": "Complete domain configuration update",
                  "description": "Update multiple settings at once",
                  "value": {
                    "account_id": 3,
                    "kind": "Native",
                    "dnssec": true
                  }
                },
                "remove_account": {
                  "summary": "Remove account assignment",
                  "description": "Unassign domain from account",
                  "value": {
                    "account_id": null
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input data\n- Invalid domain configuration\n- Malformed JSON payload\n- Invalid DNS record format\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - security violation\n- Domain not owned by authenticated user\n- Insufficient permissions for operation\n- API key lacks required privileges\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "description": "Validation failed\n- DNS record validation errors\n- Domain name format violations\n- Invalid record type combinations\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "summary": "Delete domain by ID",
        "description": "Delete a domain from both local database and PowerDNS Admin.\n\n**\u26a0\ufe0f DANGER: IRREVERSIBLE OPERATION**\n- Permanently deletes domain and ALL DNS records\n- Cannot be undone - ensure you have backups\n- Requires admin API key with full privileges\n\n**\ud83d\udd10 SECURITY REQUIREMENTS:**\n- Admin API key required for ALL deletions\n- Ownership validation enforced (can only delete domains you own)\n- Domain must be in \"inactive\" state before deletion\n- All operations logged for audit trails\n",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Domain ID"
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Force deletion even if domain has active records (dangerous)"
          }
        ],
        "responses": {
          "200": {
            "description": "Domain deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - security violation\n- Domain not owned by authenticated user\n- Domain has active DNS records (use force=true to override)\n- API key lacks deletion privileges\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Conflict - cannot delete\n- Domain has active DNS records\n- Domain is referenced by other resources\n- Concurrent modification detected\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/templates": {
      "get": {
        "summary": "Get all domain templates",
        "description": "Retrieve all available domain templates from PowerDNS Admin.\nTemplates can be used to create domains with predefined settings.\n\n**\ud83d\udd11 Requires Admin API Key**\n",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "List of domain templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Template"
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Valid Admin API Key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "summary": "Create new domain template",
        "description": "Create a new domain template in PowerDNS Admin.\n\n**\ud83d\udd11 Requires Admin API Key**\n\n**\ud83d\udd10 SECURITY CONSIDERATIONS:**\n- Template content validated for DNS record injection\n- Template names must be unique and follow naming conventions\n- All template creation logged for audit trails\n- Input sanitization prevents malicious template content\n",
        "tags": [
          "Templates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid template data\n- Invalid DNS record format in template\n- Malformed JSON payload\n- Template name validation failed\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Valid Admin API Key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - template already exists\n- Template name already in use\n- Duplicate template content detected\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed\n- DNS record validation errors in template\n- Invalid template structure\n- Template content security violations\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/templates/{id}": {
      "get": {
        "summary": "Get template by ID",
        "description": "Retrieve a specific domain template by its ID.\n",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Template ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Template details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Template"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "summary": "Update template",
        "description": "Update an existing domain template.\n",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Template ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "summary": "Delete template",
        "description": "Delete a domain template from PowerDNS Admin.\n**Warning**: This action cannot be undone.\n",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Template ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Template deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/templates/{id}/create-domain": {
      "post": {
        "summary": "Create domain from template",
        "description": "Create a new domain using a predefined template.\nThe template will be applied to set up the domain with default records and settings.\n",
        "tags": [
          "Templates",
          "Domains"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Template ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Domain name to create"
                  },
                  "account_id": {
                    "type": "integer",
                    "description": "Account ID to assign the domain to"
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional description for the domain"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain created from template successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Domain"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/domain-account": {
      "post": {
        "summary": "Domain-Account operations",
        "description": "Perform operations to manage domain-account relationships.\n\n**\ud83d\udd11 Requires Admin API Key**\n\n**\u26a0\ufe0f CRITICAL SECURITY WARNINGS:**\n- **DOMAIN HIJACKING RISK:** Can reassign domains between accounts\n- **OWNERSHIP VALIDATION:** Must verify current account owns domain before changes\n- **AUDIT TRAIL:** All domain reassignments logged with timestamps and user info\n- **IRREVERSIBLE:** Domain reassignments cannot be easily undone\n\n**\ud83d\udd10 SECURITY REQUIREMENTS:**\n- Admin API key required for ALL operations\n- Domain ownership verified before any modifications\n- Account permissions checked before assignments\n- Rate limiting enforced to prevent abuse\n",
        "tags": [
          "Domain-Account"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "add",
                "remove",
                "list"
              ]
            },
            "description": "Action to perform (add, remove, list)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/DomainAccountAdd"
                  },
                  {
                    "$ref": "#/components/schemas/DomainAccountRemove"
                  },
                  {
                    "$ref": "#/components/schemas/DomainAccountList"
                  }
                ]
              },
              "examples": {
                "add_domain": {
                  "summary": "Add domain to account",
                  "value": {
                    "domain_name": "example.com.",
                    "account_id": 1
                  }
                },
                "remove_domain": {
                  "summary": "Remove domain from account",
                  "value": {
                    "domain_name": "example.com."
                  }
                },
                "list_domains": {
                  "summary": "List account domains",
                  "value": {
                    "account_id": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SuccessMessage"
                    },
                    {
                      "$ref": "#/components/schemas/AccountDomainsList"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid operation parameters\n- Invalid domain name format\n- Missing required fields\n- Invalid account ID\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Valid Admin API Key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - security violation\n- Domain not owned by source account\n- Insufficient permissions for domain reassignment\n- Account lacks required privileges\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found\n- Domain does not exist\n- Account not found\n- Domain-account relationship not found\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - operation cannot be completed\n- Domain already assigned to target account\n- Concurrent modification detected\n- Domain in locked state\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/status": {
      "get": {
        "summary": "API status and health check",
        "description": "Get API status and health information.\n\n**\ud83d\udd11 Requires Admin API Key**\n\n**\u2139\ufe0f INFORMATION SECURITY:**\n- System status information restricted to admins only\n- Health checks reveal internal system state\n- Connection tests may expose backend configuration\n- All status requests logged for security monitoring\n",
        "tags": [
          "Status"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "test_connection",
                "sync_all",
                "health"
              ]
            },
            "description": "Specific action to perform"
          }
        ],
        "responses": {
          "200": {
            "description": "Status information",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiStatus"
                    },
                    {
                      "$ref": "#/components/schemas/ConnectionTest"
                    },
                    {
                      "$ref": "#/components/schemas/SyncResult"
                    },
                    {
                      "$ref": "#/components/schemas/HealthCheck"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Valid Admin API Key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/ip-allowlist": {
      "get": {
        "summary": "List IP allowlist entries",
        "description": "Retrieve all IP addresses in the global allowlist.\n\n**\ud83d\udd11 Requires Admin API Key**\n\n**\ud83d\udee1\ufe0f SECURITY MANAGEMENT:**\n- View all allowed IP addresses and CIDR ranges\n- Check enabled/disabled status\n- Review descriptions and timestamps\n- Critical for security auditing and management\n",
        "tags": [
          "IP Allowlist",
          "Security"
        ],
        "responses": {
          "200": {
            "description": "List of IP allowlist entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IPAllowlistEntry"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "example": 5
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Valid Admin API Key required"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "summary": "Add IP to allowlist",
        "description": "Add a new IP address or CIDR range to the global allowlist.\n\n**\ud83d\udd11 Requires Admin API Key**\n\n**\ud83d\udee1\ufe0f SECURITY IMPACT:**\n- Grants API access to specified IP/range\n- Takes effect immediately\n- All new IPs are enabled by default\n- Supports both IPv4 and IPv6 with CIDR notation\n",
        "tags": [
          "IP Allowlist",
          "Security"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ip_address"
                ],
                "properties": {
                  "ip_address": {
                    "type": "string",
                    "description": "IP address or CIDR range",
                    "example": "192.168.1.100"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description for this IP entry",
                    "example": "Office workstation"
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether this IP should be enabled",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "IP address added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "IP address added to allowlist"
                    },
                    "data": {
                      "$ref": "#/components/schemas/IPAllowlistEntry"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid IP address or missing required fields"
          },
          "401": {
            "description": "Unauthorized - Valid Admin API Key required"
          },
          "409": {
            "description": "Conflict - IP address already exists in allowlist"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/ip-allowlist/{id}": {
      "put": {
        "summary": "Update IP allowlist entry",
        "description": "Update an existing IP allowlist entry.\n\n**\ud83d\udd11 Requires Admin API Key**\n\n**\ud83d\udee1\ufe0f SECURITY IMPACT:**\n- Modify existing IP access permissions\n- Can enable/disable access without deletion\n- Changes take effect immediately\n",
        "tags": [
          "IP Allowlist",
          "Security"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "IP allowlist entry ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ip_address": {
                    "type": "string",
                    "description": "Updated IP address or CIDR range",
                    "example": "192.168.1.0/24"
                  },
                  "description": {
                    "type": "string",
                    "description": "Updated description",
                    "example": "Office network range"
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "Enable or disable this IP entry"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "IP allowlist entry updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "IP allowlist entry updated"
                    },
                    "data": {
                      "$ref": "#/components/schemas/IPAllowlistEntry"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data or no fields to update"
          },
          "401": {
            "description": "Unauthorized - Valid Admin API Key required"
          },
          "404": {
            "description": "Not found - IP allowlist entry not found"
          },
          "409": {
            "description": "Conflict - IP address already exists in allowlist"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "summary": "Remove IP from allowlist",
        "description": "Remove an IP address from the global allowlist.\n\n**\ud83d\udd11 Requires Admin API Key**\n\n**\u26a0\ufe0f SECURITY WARNING:**\n- Permanently removes IP access\n- Cannot be undone without re-adding\n- May immediately block active connections from this IP\n- Use disable instead for temporary access removal\n",
        "tags": [
          "IP Allowlist",
          "Security"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "IP allowlist entry ID"
          }
        ],
        "responses": {
          "200": {
            "description": "IP address removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "IP address removed from allowlist"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "ip_address": {
                          "type": "string",
                          "example": "192.168.1.100"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Valid Admin API Key required"
          },
          "404": {
            "description": "Not found - IP allowlist entry not found"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/ip-allowlist/test": {
      "post": {
        "summary": "Test IP allowlist access",
        "description": "Test if a specific IP address would be allowed by the current allowlist.\n\n**\ud83d\udd11 Requires Admin API Key**\n\n**\ud83d\udd0d TESTING & DEBUGGING:**\n- Validate IP access before making changes\n- Test CIDR range matching\n- Verify allowlist configuration\n- Useful for troubleshooting access issues\n",
        "tags": [
          "IP Allowlist",
          "Security",
          "Testing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ip_address"
                ],
                "properties": {
                  "ip_address": {
                    "type": "string",
                    "description": "IP address to test",
                    "example": "192.168.1.50"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "IP test result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "ip_address": {
                      "type": "string",
                      "example": "192.168.1.50"
                    },
                    "allowed": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "IP address is allowed"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid IP address format"
          },
          "401": {
            "description": "Unauthorized - Valid Admin API Key required"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/api-keys": {
      "get": {
        "summary": "List all API keys",
        "description": "Retrieve all account-scoped API keys.\n\n**\ud83d\udd11 Requires Admin API Key**\n\n**\ud83d\udd10 API KEY MANAGEMENT:**\n- View all account-scoped API keys\n- See key previews (first 12 characters)\n- Check account associations\n- Review permissions and IP restrictions\n- Monitor last usage timestamps\n- Note: Full API key is NEVER returned (only on creation)\n\n**SECURITY LAYERS:**\n1. **Global IP Allowlist** - All requests must pass this first\n2. **Per-Key IP Restrictions** - Optional additional IP filtering per key\n3. **Account Scope** - Keys restricted to specific account's domains\n4. **Permissions** - Granular read/write/create/delete control\n",
        "tags": [
          "API Keys",
          "Security"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter API keys by account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKey"
                      }
                    }
                  }
                },
                "examples": {
                  "all_keys": {
                    "summary": "All API keys",
                    "value": {
                      "data": [
                        {
                          "id": 3,
                          "key_preview": "pdns_d0dbc9f...",
                          "account_id": 5,
                          "description": "Production key for customer",
                          "permissions": {
                            "domains": "rw",
                            "create_domains": true,
                            "delete_domains": false,
                            "scope": "account"
                          },
                          "allowed_ips": [
                            "192.168.1.0/24",
                            "10.0.0.50"
                          ],
                          "enabled": true,
                          "created_at": "2025-12-07 10:30:00",
                          "last_used_at": "2025-12-07 15:45:00",
                          "expires_at": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Valid Admin API Key required"
          },
          "403": {
            "description": "Forbidden - Only admin API keys can manage API keys"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "summary": "Create account-scoped API key",
        "description": "Create a new API key for a specific account with granular permissions.\n\n**\ud83d\udd11 Requires Admin API Key**\n\n**\u26a0\ufe0f IMPORTANT: Full API key is ONLY shown once on creation!**\n\n**PERMISSION STRUCTURE:**\n```json\n{\n  \"domains\": \"rw\",           // \"r\" (read), \"w\" (write), \"rw\" (both)\n  \"create_domains\": true,    // Can create new domains\n  \"delete_domains\": false,   // Can delete domains\n  \"scope\": \"account\"         // Always \"account\" for scoped keys\n}\n```\n\n**IP RESTRICTIONS:**\n- `allowed_ips: null` - Uses global allowlist only\n- `allowed_ips: [...]` - Client IP must be in BOTH global AND key-specific lists\n- Supports single IPs: `\"192.168.1.100\"`\n- Supports CIDR ranges: `\"10.0.0.0/8\"`, `\"192.168.1.0/24\"`\n",
        "tags": [
          "API Keys",
          "Security"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id"
                ],
                "properties": {
                  "account_id": {
                    "type": "integer",
                    "description": "Account ID this key will be restricted to",
                    "example": 5
                  },
                  "description": {
                    "type": "string",
                    "description": "Human-readable description of the key's purpose",
                    "example": "Customer portal API access"
                  },
                  "permissions": {
                    "type": "object",
                    "description": "Granular permissions for this key",
                    "properties": {
                      "domains": {
                        "type": "string",
                        "enum": [
                          "r",
                          "w",
                          "rw"
                        ],
                        "description": "Domain read/write permissions",
                        "example": "rw"
                      },
                      "create_domains": {
                        "type": "boolean",
                        "description": "Allow creating new domains",
                        "example": true
                      },
                      "delete_domains": {
                        "type": "boolean",
                        "description": "Allow deleting domains",
                        "example": false
                      }
                    }
                  },
                  "allowed_ips": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of allowed IP addresses/CIDR ranges (null = no restriction)",
                    "example": [
                      "192.168.1.0/24",
                      "10.0.0.50"
                    ]
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "Enable the key immediately",
                    "default": true,
                    "example": true
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true,
                    "description": "Expiration timestamp (null = never expires)",
                    "example": "2026-12-31 23:59:59"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "API key created successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 4
                        },
                        "api_key": {
                          "type": "string",
                          "description": "\u26a0\ufe0f SAVE THIS! Full key only shown once",
                          "example": "pdns_d0dbc9fd6f0cb69319c84e755dbf8d78e72f46720dfa9a2e..."
                        },
                        "account_id": {
                          "type": "integer",
                          "example": 5
                        },
                        "account_username": {
                          "type": "string",
                          "example": "customer_account"
                        },
                        "description": {
                          "type": "string",
                          "example": "Customer portal API access"
                        },
                        "permissions": {
                          "type": "object"
                        },
                        "allowed_ips": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "enabled": {
                          "type": "boolean"
                        },
                        "expires_at": {
                          "type": "string",
                          "nullable": true
                        },
                        "warning": {
                          "type": "string",
                          "example": "Save this API key securely. It will not be displayed again."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required fields or invalid data"
          },
          "401": {
            "description": "Unauthorized - Valid Admin API Key required"
          },
          "403": {
            "description": "Forbidden - Only admin API keys can create API keys"
          },
          "404": {
            "description": "Not found - Account does not exist"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/api-keys/{id}": {
      "get": {
        "summary": "Get API key details",
        "description": "Retrieve details for a specific API key.\n\n**\ud83d\udd11 Requires Admin API Key**\n\n**Note:** Full API key is never returned, only preview (first 12 chars)\n",
        "tags": [
          "API Keys"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "API key ID"
          }
        ],
        "responses": {
          "200": {
            "description": "API key details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ApiKey"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Valid Admin API Key required"
          },
          "403": {
            "description": "Forbidden - Only admin API keys can view API keys"
          },
          "404": {
            "description": "Not found - API key not found"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "summary": "Update API key",
        "description": "Update an existing API key's permissions, description, or IP restrictions.\n\n**\ud83d\udd11 Requires Admin API Key**\n\n**UPDATABLE FIELDS:**\n- Description\n- Permissions (domains, create_domains, delete_domains)\n- IP restrictions (allowed_ips)\n- Enabled status\n- Expiration date\n\n**Note:** The API key itself cannot be changed\n",
        "tags": [
          "API Keys"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "API key ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "example": "Updated description"
                  },
                  "permissions": {
                    "type": "object",
                    "properties": {
                      "domains": {
                        "type": "string",
                        "enum": [
                          "r",
                          "w",
                          "rw"
                        ]
                      },
                      "create_domains": {
                        "type": "boolean"
                      },
                      "delete_domains": {
                        "type": "boolean"
                      }
                    }
                  },
                  "allowed_ips": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    },
                    "description": "Set to [] or null to remove IP restrictions",
                    "example": [
                      "192.168.1.0/24"
                    ]
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "Enable or disable the key"
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "API key updated successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data or no fields to update"
          },
          "401": {
            "description": "Unauthorized - Valid Admin API Key required"
          },
          "403": {
            "description": "Forbidden - Only admin API keys can update API keys"
          },
          "404": {
            "description": "Not found - API key not found"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "summary": "Delete API key",
        "description": "Permanently delete an API key.\n\n**\ud83d\udd11 Requires Admin API Key**\n\n**\u26a0\ufe0f WARNING:**\n- Permanently removes the API key\n- Cannot be undone\n- Active sessions using this key will be invalidated\n- Consider disabling instead for temporary deactivation\n",
        "tags": [
          "API Keys"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "API key ID"
          }
        ],
        "responses": {
          "200": {
            "description": "API key deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "API key deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Valid Admin API Key required"
          },
          "403": {
            "description": "Forbidden - Only admin API keys can delete API keys"
          },
          "404": {
            "description": "Not found - API key not found"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AdminApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "**ADMIN API KEY + GLOBAL IP ALLOWLIST AUTHENTICATION**\n\n**DUAL AUTHENTICATION - SIMPLE & SECURE:**\n1. **Valid Admin API Key** - Single key for all administrative access  \n2. **Global IP Allowlist** - Same allowlist applies to ALL endpoints uniformly\n\n**\ud83d\udccb AUTHENTICATION REQUIREMENTS:**\n- **Swagger UI access** - No authentication required (for easy development)\n- **OpenAPI documentation** - No authentication required (for easy access)  \n- **ALL API endpoints** - Full authentication required (API key + IP allowlist)\n- **Health check** - No authentication required (monitoring)\n\n**API Key Format:** `X-API-Key: <your-api-key>`\n\n**Example:** \n```\nAuthorization: Basic NDZiM2Q3OGM1NTdjZDY2YTA0N2EzODg5NzkxNGQyMDNhYjVjMzU5NzE5MTYxZTgzNmVjY2U1NTA4ZTU3YjFhOTo=\n```\n\n**\ud83d\udee1\ufe0f GLOBAL IP ALLOWLIST - DATABASE-DRIVEN & DYNAMIC:**\n- Single allowlist applies to ALL API endpoints uniformly\n- **Stored in MySQL database** for persistence and easy management\n- No per-endpoint complexity - either you're allowed or you're not\n- Both IPv4 and IPv6 addresses supported with CIDR notation\n- **Enable/disable IPs** without deletion for temporary access control\n- Easy to manage via CLI tool and audit via database logs\n\n**Dynamic Management via CLI:**\n```bash\n# List all allowed IPs\nphp manage-ips-clean.php list\n\n# Add IPs with descriptions\nphp manage-ips-clean.php add \"203.0.113.25\" \"Admin home IP\"\nphp manage-ips-clean.php add \"192.168.1.0/24\" \"Office network\"\nphp manage-ips-clean.php add \"2001:db8::/32\" \"IPv6 network\"\n\n# Temporarily disable/enable IPs\nphp manage-ips-clean.php disable \"203.0.113.25\"\nphp manage-ips-clean.php enable \"203.0.113.25\"\n\n# Remove IPs permanently\nphp manage-ips-clean.php remove \"203.0.113.25\"\n\n# Test IP access\nphp manage-ips-clean.php test \"192.168.1.100\"\n```\n\n**Database Storage:**\n```sql\n-- IPs stored in ip_allowlist table\nSELECT ip_address, description, enabled \nFROM ip_allowlist \nWHERE enabled = 1;\n```\n\n**Security Benefits:**\n- **Defense in depth:** Both API key AND IP must be valid\n- **Zero complexity:** Same rules apply everywhere  \n- **Dynamic management:** Add/remove IPs without restarts\n- **Database persistence:** Changes survive server restarts\n- **Temporary control:** Enable/disable without deletion\n- **Complete protection:** API inaccessible from non-allowed IPs\n- **Performance:** In-memory caching with database fallback\n\n**Security Notes:**\n- **Dual authentication:** API key AND IP allowlist required\n- One API key for all administrative operations  \n- Full access to accounts, domains, templates, and DNS records\n- **Database-driven allowlist** prevents unauthorized access even with valid key\n- Should be rotated regularly and kept secure\n- **Update allowlist dynamically** via CLI tool when network changes\n- **Audit trail:** All IP changes tracked in database with timestamps\n"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - Invalid input data",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error",
              "error": "Invalid request data",
              "errors": [
                "Name is required",
                "Email format is invalid"
              ]
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error",
              "error": "Resource not found"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict - Resource already exists",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error",
              "error": "Account already exists"
            }
          }
        }
      },
      "ServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error",
              "error": "Internal server error"
            }
          }
        }
      }
    },
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Account ID"
          },
          "username": {
            "type": "string",
            "description": "Username (unique)"
          },
          "firstname": {
            "type": "string",
            "description": "First name"
          },
          "lastname": {
            "type": "string",
            "description": "Last name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address"
          },
          "role_id": {
            "type": "integer",
            "description": "Role ID (2 = User, 1 = Admin)"
          },
          "ip_addresses": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "ipv4 | ipv6"
            },
            "description": "List of IP addresses (IPv4/IPv6, local storage only)"
          },
          "customer_id": {
            "type": "integer",
            "description": "Customer ID for business relationships"
          },
          "pdns_account_id": {
            "type": "integer",
            "nullable": true,
            "description": "PowerDNS Admin account ID (synced from PowerDNS Admin)"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          }
        }
      },
      "AccountCreate": {
        "type": "object",
        "required": [
          "username",
          "plain_text_password",
          "firstname",
          "email"
        ],
        "properties": {
          "username": {
            "type": "string",
            "description": "Username for PowerDNS Admin (must be unique)"
          },
          "plain_text_password": {
            "type": "string",
            "description": "Plain text password for PowerDNS Admin user"
          },
          "firstname": {
            "type": "string",
            "description": "First name"
          },
          "lastname": {
            "type": "string",
            "description": "Last name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address"
          },
          "role": {
            "type": "object",
            "description": "User role object",
            "properties": {
              "id": {
                "type": "integer",
                "description": "Role ID (2 = User, 1 = Admin)"
              },
              "name": {
                "type": "string",
                "description": "Role name"
              }
            },
            "required": [
              "id",
              "name"
            ]
          },
          "ip_addresses": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "ipv4 | ipv6"
            },
            "description": "List of IP addresses (IPv4/IPv6, local storage only)"
          },
          "customer_id": {
            "type": "integer",
            "description": "Customer ID for business relationships"
          }
        }
      },
      "AccountIdentifier": {
        "type": "object",
        "oneOf": [
          {
            "type": "object",
            "required": [
              "id"
            ],
            "properties": {
              "id": {
                "type": "integer",
                "description": "Account ID"
              }
            },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": [
              "username"
            ],
            "properties": {
              "username": {
                "type": "string",
                "description": "Account username"
              }
            },
            "additionalProperties": false
          }
        ],
        "description": "Account identifier object (either ID or username, not both)"
      },
      "AccountUpdateRequest": {
        "type": "object",
        "oneOf": [
          {
            "allOf": [
              {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Account ID"
                  }
                }
              },
              {
                "$ref": "#/components/schemas/AccountUpdate"
              }
            ]
          },
          {
            "allOf": [
              {
                "type": "object",
                "required": [
                  "username"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Account username"
                  }
                }
              },
              {
                "$ref": "#/components/schemas/AccountUpdate"
              }
            ]
          }
        ],
        "description": "Account update request with identifier and update fields"
      },
      "AccountUpdate": {
        "type": "object",
        "properties": {
          "firstname": {
            "type": "string",
            "description": "First name"
          },
          "lastname": {
            "type": "string",
            "description": "Last name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address"
          },
          "role_id": {
            "type": "integer",
            "description": "Role ID"
          },
          "ip_addresses": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "ipv4 | ipv6"
            },
            "description": "List of IP addresses (IPv4/IPv6)"
          },
          "customer_id": {
            "type": "integer",
            "nullable": true,
            "description": "Customer ID"
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Domain ID"
          },
          "name": {
            "type": "string",
            "description": "Domain name"
          },
          "type": {
            "type": "string",
            "description": "Domain type"
          },
          "account_id": {
            "type": "integer",
            "nullable": true,
            "description": "Associated account ID"
          },
          "account_name": {
            "type": "string",
            "nullable": true,
            "description": "Associated account name"
          },
          "pdns_zone_id": {
            "type": "string",
            "description": "PDNSAdmin zone ID"
          },
          "kind": {
            "type": "string",
            "enum": [
              "Native",
              "Master",
              "Slave"
            ],
            "description": "Zone kind"
          },
          "masters": {
            "type": "string",
            "description": "Comma-separated list of master servers"
          },
          "dnssec": {
            "type": "boolean",
            "description": "DNSSEC enabled"
          },
          "account": {
            "type": "string",
            "description": "Account name from PDNSAdmin"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          }
        }
      },
      "IPAllowlistEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Allowlist entry ID",
            "example": 1
          },
          "ip_address": {
            "type": "string",
            "description": "IP address or CIDR range",
            "example": "192.168.1.100"
          },
          "description": {
            "type": "string",
            "description": "Description of this IP entry",
            "example": "Office workstation"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether this IP is currently enabled",
            "example": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When this entry was created",
            "example": "2025-08-10T08:30:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When this entry was last updated",
            "example": "2025-08-10T08:30:00Z"
          }
        }
      },
      "DomainUpdate": {
        "type": "object",
        "description": "Domain update configuration. All fields are optional - only include fields you want to update.\n\n**Common Use Cases:**\n- Transfer domain to another account\n- Enable/disable DNSSEC\n- Convert between zone types (Native/Master/Slave)\n- Update master servers for slave zones\n",
        "properties": {
          "account_id": {
            "type": "integer",
            "nullable": true,
            "description": "Account ID to assign domain to.\n- Set to account ID to transfer domain\n- Set to `null` to remove account assignment\n- Requires admin privileges\n",
            "example": 5
          },
          "kind": {
            "type": "string",
            "enum": [
              "Native",
              "Master",
              "Slave"
            ],
            "description": "Zone type/kind:\n- **Native**: Standard PowerDNS zone (most common)\n- **Master**: Authoritative zone that can be transferred\n- **Slave**: Zone replicated from master servers\n",
            "example": "Native"
          },
          "masters": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "ipv4"
            },
            "description": "Master server IP addresses for slave zones.\n- Required when `kind: \"Slave\"`\n- Must be valid IPv4/IPv6 addresses\n- Can specify multiple masters for redundancy\n- Ignored for Native/Master zones\n",
            "example": [
              "192.168.1.100",
              "192.168.1.101"
            ]
          },
          "dnssec": {
            "type": "boolean",
            "description": "Enable or disable DNSSEC signing.\n- `true`: Enable DNSSEC (generates keys and signs zone)\n- `false`: Disable DNSSEC (removes signatures)\n- Requires PowerDNS DNSSEC support enabled\n",
            "example": true
          }
        },
        "example": {
          "kind": "Native",
          "dnssec": true,
          "account_id": 5
        }
      },
      "DomainSearchResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Local database ID"
          },
          "name": {
            "type": "string",
            "description": "Domain name"
          },
          "pdns_zone_id": {
            "type": "integer",
            "description": "PowerDNS zone ID"
          }
        }
      },
      "DomainDetails": {
        "type": "object",
        "description": "Complete domain information from PowerDNS Server API",
        "properties": {
          "id": {
            "type": "string",
            "description": "Zone ID (FQDN with trailing dot)"
          },
          "name": {
            "type": "string",
            "description": "Zone name (FQDN with trailing dot)"
          },
          "type": {
            "type": "string",
[...]
