openapi: 3.0.3
info:
  title: PDNSAdmin PHP API
  description: |
    PHP API wrapper for PDNSAdmin with local database storage and extended functionality.
    
    ## Authentication
    This API uses **Basic Authentication** with base64 encoded credentials.
    Use the `Authorization: Basic <base64-credentials>` header for all authenticated requests.
    
    ## Features
    - **Account management** with automatic PowerDNS Admin synchronization
    - **IP address storage** for accounts (local database only)
    - **Domain management** with PDNSAdmin synchronization
    - **Real-time sync** from PowerDNS Admin API
    - **Local database caching** for performance and extended metadata
    
    ## Key Functionality
    - Accounts are automatically synced from PowerDNS Admin on each API call
    - IP addresses can be assigned to accounts (stored locally, not in PowerDNS Admin)
    - Domain management maintains compatibility with PowerDNS Admin
    - Local database provides caching and additional account metadata storage
    
    ## Important Notes
    - Account data is synced FROM PowerDNS Admin (read-only sync)
    - IP addresses are stored locally and NOT sent to PowerDNS Admin
    - Accounts endpoint automatically refreshes data from PowerDNS Admin
    - Local database maintains PowerDNS Admin account ID relationships
  version: 1.0.1
  contact:
    name: API Support
    email: support@example.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://pdnsapi.avant.nl
    description: Production server

security:
  - BasicAuth: []

paths:
  /:
    get:
      summary: API Documentation
      description: Returns API documentation and available endpoints
      tags:
        - Documentation
      security: []  # No authentication required
      responses:
        '200':
          description: API documentation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDocumentation'

  /accounts:
    get:
      summary: Get all accounts (synced from PowerDNS Admin)
      description: |
        Retrieve a list of all accounts with automatic synchronization from PowerDNS Admin.
        
        **Functionality:**
        - Automatically fetches latest accounts from PowerDNS Admin API
        - Syncs account data to local database for caching and extended metadata
        - Returns accounts with IP addresses (if assigned locally)
        - Maintains PowerDNS Admin account ID relationships
        
        **Data Sources:**
        - Account data: PowerDNS Admin (synchronized on each request)
        - IP addresses: Local database only (not stored in PowerDNS Admin)
        - Additional metadata: Local database for extended functionality
      tags:
        - Accounts
      parameters:
        - name: sync
          in: query
          schema:
            type: boolean
          description: Set to true to sync accounts from PowerDNS Admin before returning results
      responses:
        '200':
          description: List of accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
                  message:
                    type: string
                    example: "Accounts retrieved successfully"
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      summary: Create a new account
      description: Create a new account with optional IP addresses. The account is created in both PDNSAdmin and local database.
      tags:
        - Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreate'
            examples:
              powerdns_admin_user:
                summary: PowerDNS Admin User Creation
                value:
                  username: "testuser1754424578"
                  plain_text_password: "36440b7d5ab7521f"
                  firstname: "Test"
                  lastname: "User"
                  email: "test@example.com"
                  role:
                    id: 2
                    name: "User"
              basic_account:
                summary: Basic local account
                value:
                  name: "customer-account"
                  description: "Customer account description"
                  contact: "John Doe"
                  mail: "john@customer.com"
      responses:
        '201':
          description: Account created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/ServerError'

  /accounts/{id}:
    get:
      summary: Get account by ID
      description: Retrieve a specific account by its ID
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Account ID
      responses:
        '200':
          description: Account details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Account'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      summary: Update account
      description: Update an existing account. Changes are synced with PDNSAdmin (except IP addresses).
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Account ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdate'
            examples:
              update_details:
                summary: Update account details
                value:
                  description: "Updated account description"
                  contact: "Jane Doe"
                  mail: "jane@customer.com"
              update_ips:
                summary: Update IP addresses
                value:
                  ip_addresses: ["192.168.1.101", "192.168.1.102", "2001:db8::2"]
      responses:
        '200':
          description: Account updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    delete:
      summary: Delete account
      description: Delete an account from both PDNSAdmin and local database
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Account ID
      responses:
        '200':
          description: Account deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /accounts/name/{name}:
    get:
      summary: Get account by name
      description: Retrieve a specific account by its name
      tags:
        - Accounts
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
          description: Account name
      responses:
        '200':
          description: Account details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Account'
        '404':
          $ref: '#/components/responses/NotFound'

  /domains:
    get:
      summary: Get all domains (synced from PowerDNS Admin)
      description: |
        Retrieve a list of all domains with automatic synchronization from PowerDNS Admin.
        
        **Important:** Domain creation is not supported through this API. 
        Domains must be created in PowerDNS Admin directly, then synced using the ?action=sync parameter.
        
        **Functionality:**
        - Automatically fetches latest domains from PowerDNS Admin API
        - Syncs domain data to local database for caching
        - Returns domains with account relationships
        - Use ?action=sync to force refresh from PowerDNS Admin
      tags:
        - Domains
      parameters:
        - name: sync
          in: query
          schema:
            type: boolean
          description: Set to true to sync domains from PDNSAdmin before returning results
        - name: account_id
          in: query
          schema:
            type: integer
          description: Filter domains by account ID
      responses:
        '200':
          description: List of domains
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Domain'
                  message:
                    type: string

  /domains/{id}:
    get:
      summary: Get domain by ID
      description: Retrieve a specific domain by its ID
      tags:
        - Domains
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Domain ID
      responses:
        '200':
          description: Domain details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Domain'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      summary: Update domain
      description: |
        Update an existing domain. If account_id is changed, 
        the domain assignment is automatically updated in PDNSAdmin.
      tags:
        - Domains
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Domain ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainUpdate'
            examples:
              change_account:
                summary: Change domain account
                value:
                  account_id: 2
              remove_account:
                summary: Remove from account
                value:
                  account_id: null
              update_settings:
                summary: Update domain settings
                value:
                  kind: "Slave"
                  masters: ["192.168.1.100"]
      responses:
        '200':
          description: Domain updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /domain-account:
    post:
      summary: Domain-Account operations
      description: Perform operations to manage domain-account relationships
      tags:
        - Domain-Account
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [add, remove, list]
          description: Action to perform (add, remove, list)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/DomainAccountAdd'
                - $ref: '#/components/schemas/DomainAccountRemove'
                - $ref: '#/components/schemas/DomainAccountList'
            examples:
              add_domain:
                summary: Add domain to account
                value:
                  domain_name: "example.com."
                  account_id: 1
              remove_domain:
                summary: Remove domain from account
                value:
                  domain_name: "example.com."
              list_domains:
                summary: List account domains
                value:
                  account_id: 1
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SuccessMessage'
                  - $ref: '#/components/schemas/AccountDomainsList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /status:
    get:
      summary: API status
      description: Get API status and health information
      tags:
        - Status
      parameters:
        - name: action
          in: query
          schema:
            type: string
            enum: [test_connection, sync_all, health]
          description: Specific action to perform
      responses:
        '200':
          description: Status information
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ApiStatus'
                  - $ref: '#/components/schemas/ConnectionTest'
                  - $ref: '#/components/schemas/SyncResult'
                  - $ref: '#/components/schemas/HealthCheck'

components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: |
        Basic Authentication using base64 encoded credentials.
        
        **Format:** `Authorization: Basic <base64-encoded-credentials>`
        
        **Example:** 
        ```
        Authorization: Basic YWRtaW46YWRtaW4=
        ```
        
        **Note:** The credentials should be base64 encoded before sending the request.
      
  schemas:
    Account:
      type: object
      properties:
        id:
          type: integer
          description: Account ID
          example: 1
        name:
          type: string
          description: Account name (unique)
          example: "customer-account"
        description:
          type: string
          description: Account description
          example: "Customer account description"
        contact:
          type: string
          description: Contact person
          example: "John Doe"
        mail:
          type: string
          format: email
          description: Email address
          example: "john@customer.com"
        ip_addresses:
          type: array
          items:
            type: string
            format: ipv4 | ipv6
          description: List of IP addresses (IPv4/IPv6)
          example: ["192.168.1.100", "2001:db8::1"]
        pdns_account_id:
          type: integer
          nullable: true
          description: PowerDNS Admin account ID (synced from PowerDNS Admin)
          example: 12
        klant_id:
          type: integer
          nullable: true
          description: Customer ID for business relationships
          example: 1001
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp

    AccountCreate:
      type: object
      required:
        - username
        - plain_text_password
        - firstname  
        - email
        - role
      properties:
        username:
          type: string
          description: Username for PowerDNS Admin (must be unique)
          example: "testuser1754424578"
        plain_text_password:
          type: string
          description: Plain text password for PowerDNS Admin user
          example: "36440b7d5ab7521f"
        firstname:
          type: string
          description: First name
          example: "Test"
        lastname:
          type: string
          description: Last name
          example: "User"
        email:
          type: string
          format: email
          description: Email address
          example: "test@example.com"
        role:
          type: object
          description: User role object
          properties:
            id:
              type: integer
              description: Role ID (2 = User, 1 = Admin)
              example: 2
            name:
              type: string
              description: Role name
              example: "User"
          required:
            - id
            - name
        # Legacy fields for backward compatibility
        name:
          type: string
          description: Account name (legacy, maps to username)
          example: "customer-account"
        description:
          type: string
          description: Account description (legacy)
          example: "Customer account description"
        contact:
          type: string
          description: Contact person (legacy, maps to firstname)
          example: "John Doe"
        mail:
          type: string
          format: email
          description: Email address (legacy, same as email)
          example: "john@customer.com"
        ip_addresses:
          type: array
          items:
            type: string
            format: ipv4 | ipv6
          description: List of IP addresses (IPv4/IPv6, local storage only)
          example: ["192.168.1.100", "2001:db8::1"]

    AccountUpdate:
      type: object
      properties:
        description:
          type: string
          description: Account description
        contact:
          type: string
          description: Contact person
        mail:
          type: string
          format: email
          description: Email address
        ip_addresses:
          type: array
          items:
            type: string
            format: ipv4 | ipv6
          description: List of IP addresses (IPv4/IPv6)

    Domain:
      type: object
      properties:
        id:
          type: integer
          description: Domain ID
          example: 1
        name:
          type: string
          description: Domain name
          example: "example.com."
        type:
          type: string
          description: Domain type
          example: "Zone"
        account_id:
          type: integer
          nullable: true
          description: Associated account ID
          example: 1
        account_name:
          type: string
          nullable: true
          description: Associated account name
          example: "customer-account"
        pdns_zone_id:
          type: string
          description: PDNSAdmin zone ID
          example: "example.com."
        kind:
          type: string
          enum: [Native, Master, Slave]
          description: Zone kind
          example: "Master"
        masters:
          type: string
          description: Comma-separated list of master servers
          example: "192.168.1.100,192.168.1.101"
        dnssec:
          type: boolean
          description: DNSSEC enabled
          example: false
        account:
          type: string
          description: Account name from PDNSAdmin
          example: "customer-account"
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp

    DomainUpdate:
      type: object
      properties:
        account_id:
          type: integer
          nullable: true
          description: Account ID to assign domain to (null to remove)
        kind:
          type: string
          enum: [Native, Master, Slave]
          description: Zone kind
        masters:
          type: array
          items:
            type: string
          description: List of master servers
        dnssec:
          type: boolean
          description: Enable DNSSEC

    DomainAccountAdd:
      type: object
      required:
        - domain_name
        - account_id
      properties:
        domain_name:
          type: string
          description: Domain name to add to account
          example: "example.com."
        account_id:
          type: integer
          description: Account ID
          example: 1

    DomainAccountRemove:
      type: object
      required:
        - domain_name
      properties:
        domain_name:
          type: string
          description: Domain name to remove from account
          example: "example.com."

    DomainAccountList:
      type: object
      required:
        - account_id
      properties:
        account_id:
          type: integer
          description: Account ID to list domains for
          example: 1

    AccountDomainsList:
      type: object
      properties:
        data:
          type: object
          properties:
            account:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
            domains:
              type: array
              items:
                $ref: '#/components/schemas/Domain'
            domain_count:
              type: integer
        message:
          type: string

    ApiStatus:
      type: object
      properties:
        data:
          type: object
          properties:
            api_version:
              type: string
              example: "1.0.0"
            timestamp:
              type: string
              format: date-time
            endpoints:
              type: object
              additionalProperties:
                type: string
              example:
                accounts: "/api/accounts"
                domains: "/api/domains"
                status: "/api/status"
            pdns_admin_status:
              type: string
              enum: [connected, disconnected]
            database_status:
              type: string
              enum: [connected, disconnected]
        message:
          type: string

    ConnectionTest:
      type: object
      properties:
        data:
          type: object
          properties:
            status:
              type: string
              enum: [connected, disconnected]
            pdns_domains_count:
              type: integer
        message:
          type: string

    SyncResult:
      type: object
      properties:
        data:
          type: object
          properties:
            accounts:
              type: object
              properties:
                status:
                  type: string
                count:
                  type: integer
            domains:
              type: object
              properties:
                status:
                  type: string
                count:
                  type: integer
        message:
          type: string

    HealthCheck:
      type: object
      properties:
        data:
          type: object
          properties:
            database:
              type: string
              enum: [connected, disconnected, unknown]
            timestamp:
              type: string
              format: date-time
            version:
              type: string
            local_accounts_count:
              type: integer
            local_domains_count:
              type: integer
        message:
          type: string

    ApiDocumentation:
      type: object
      properties:
        data:
          type: object
          properties:
            name:
              type: string
            version:
              type: string
            description:
              type: string
            endpoints:
              type: object
              additionalProperties:
                type: string
              example:
                accounts: "/api/accounts"
                domains: "/api/domains"
                status: "/api/status"
            setup_instructions:
              type: array
              items:
                type: string
        message:
          type: string

    SuccessMessage:
      type: object
      properties:
        message:
          type: string
          example: "Operation completed successfully"

    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
          example: "Invalid request data"
        errors:
          type: array
          items:
            type: string
          description: Detailed error messages

  responses:
    BadRequest:
      description: Bad request - Invalid input data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Invalid request data"
            errors: ["Name is required", "Email format is invalid"]

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Resource not found"

    Conflict:
      description: Conflict - Resource already exists
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Account already exists"

    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Internal server error"

tags:
  - name: Documentation
    description: API documentation and information
  - name: Accounts
    description: Account management operations with IP address support
  - name: Domains
    description: Domain management operations (creation and updates only)
  - name: Domain-Account
    description: Domain-account relationship management
  - name: Status
    description: API status, health checks, and synchronization
