{
  "openapi": "3.0.3",
  "info": {
    "title": "PDNSAdmin PHP API",
    "description": "PHP API wrapper for PDNSAdmin with local database storage and extended functionality.\n\n## Authentication\nThis API uses **Basic Authentication** with base64 encoded credentials.\nUse the `Authorization: Basic <base64-credentials>` header for all authenticated requests.\n\n## Features\n- **Account management** with automatic PowerDNS Admin synchronization\n- **IP address storage** for accounts (local database only)\n- **Domain management** with PDNSAdmin synchronization\n- **Real-time sync** from PowerDNS Admin API\n- **Local database caching** for performance and extended metadata\n- **RESTful and legacy API support** for flexible access patterns\n\n## API Access Patterns\n\n### Account Access (Multiple Ways)\n```\n# Get all accounts\nGET /accounts\n\n# Get account by ID (RESTful)\nGET /accounts/94\n\n# Get account by username (RESTful)  \nGET /accounts/johndoe\n\n# Get account by ID (query parameter)\nGET /accounts?id=94\n\n# Get account by username (query parameter)\nGET /accounts?username=johndoe\n\n# Manual sync with verbose output\nGET /accounts?sync=true\n```\n\n### Account Management\n```\n# Create account\nPOST /accounts\n\n# Update account by ID\nPUT /accounts/94\n\n# Delete account by ID  \nDELETE /accounts/94\n\n# Delete account by username\nDELETE /accounts/johndoe\n```\n\n## Key Functionality\n- Accounts are automatically synced from PowerDNS Admin on each API call\n- IP addresses can be assigned to accounts (stored locally, not in PowerDNS Admin)\n- Domain management maintains compatibility with PowerDNS Admin\n- Local database provides caching and additional account metadata storage\n\n## Important Notes\n- Account data is synced FROM PowerDNS Admin (read-only sync)\n- IP addresses are stored locally and NOT sent to PowerDNS Admin\n- Accounts endpoint automatically refreshes data from PowerDNS Admin\n- Local database maintains PowerDNS Admin account ID relationships\n\n\nLast updated: 2025-08-06 15:46:11",
    "version": "1.0.1",
    "contact": {
      "name": "API Support",
      "email": "support@example.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://pdnsapi.avant.nl",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "BasicAuth": []
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "API Documentation",
        "description": "Returns API documentation and available endpoints",
        "tags": [
          "Documentation"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "API documentation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiDocumentation"
                }
              }
            }
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "summary": "Get all accounts (synced from PowerDNS Admin)",
        "description": "Retrieve a list of all accounts with automatic synchronization from PowerDNS Admin.\n\n**RESTful Access:**\n- `GET /accounts` - Get all accounts\n- `GET /accounts/123` - Get account by ID (RESTful path parameter)\n- `GET /accounts/username` - Get account by username (RESTful path parameter)\n- `GET /accounts?id=123` - Get account by ID (query parameter, legacy)\n- `GET /accounts?username=name` - Get account by username (query parameter, legacy)\n\n**Functionality:**\n- Automatically fetches latest accounts from PowerDNS Admin API\n- Syncs account data to local database for caching and extended metadata\n- Returns accounts with IP addresses (if assigned locally)\n- Maintains PowerDNS Admin account ID relationships\n\n**Data Sources:**\n- Account data: PowerDNS Admin (synchronized on each request)\n- IP addresses: Local database only (not stored in PowerDNS Admin)\n- Additional metadata: Local database for extended functionality\n",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "sync",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Set to true to sync accounts from PowerDNS Admin before returning results"
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by specific account ID to retrieve a single account",
            "example": 94
          },
          {
            "name": "username",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by specific username to retrieve a single account",
            "example": "johndoe"
          }
        ],
        "responses": {
          "200": {
            "description": "List of accounts or single account (depending on parameters)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Accounts retrieved successfully"
                    }
                  }
                },
                "examples": {
                  "all_accounts": {
                    "summary": "All accounts",
                    "description": "GET /accounts (returns all accounts)",
                    "value": {
                      "data": [],
                      "message": "Accounts retrieved successfully"
                    }
                  },
                  "account_by_id": {
                    "summary": "Single account by ID",
                    "description": "GET /accounts?id=94 (returns specific account)",
                    "value": {
                      "data": [
                        {
                          "id": 94,
                          "username": "testuser",
                          "firstname": "Test"
                        }
                      ]
                    }
                  },
                  "account_by_username": {
                    "summary": "Single account by username",
                    "description": "GET /accounts?username=johndoe (returns specific account)",
                    "value": {
                      "data": [
                        {
                          "id": 1,
                          "username": "johndoe",
                          "firstname": "John"
                        }
                      ],
                      "type": "string",
                      "example": "Accounts retrieved successfully"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "summary": "Create a new account",
        "description": "Create a new account with optional IP addresses. The account is created in both PDNSAdmin and local database.",
        "tags": [
          "Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountCreate"
              },
              "examples": {
                "powerdns_admin_user": {
                  "summary": "PowerDNS Admin User Creation",
                  "value": {
                    "username": "testuser1754424578",
                    "plain_text_password": "36440b7d5ab7521f",
                    "firstname": "Test",
                    "lastname": "User",
                    "email": "test@example.com",
                    "role": {
                      "id": 2,
                      "name": "User"
                    },
                    "ip_addresses": [
                      "192.168.1.101",
                      "192.168.1.102",
                      "2001:db8::2"
                    ],
                    "customer_id": 1001
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/accounts/{id}": {
      "get": {
        "summary": "Get account by ID",
        "description": "Retrieve a specific account by its ID",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Update account",
        "description": "Update an existing account. Changes are synced with PDNSAdmin (except IP addresses).",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Account ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdate"
              },
              "examples": {
                "update_details": {
                  "summary": "Update account details",
                  "value": {
                    "description": "Updated account description",
                    "contact": "Jane Doe",
                    "mail": "jane@customer.com"
                  }
                },
                "update_ips": {
                  "summary": "Update IP addresses",
                  "value": {
                    "ip_addresses": [
                      "192.168.1.101",
                      "192.168.1.102",
                      "2001:db8::2"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "summary": "Delete account",
        "description": "Delete an account from PowerDNS Admin only. The local database is automatically synced after deletion.\n\n**Important:** This operation only deletes from PowerDNS Admin. The local database is updated through \nautomatic synchronization, ensuring the API remains the authoritative source for account management.\n",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Account deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/accounts/{identifier}": {
      "get": {
        "summary": "Get account by ID or username (RESTful)",
        "description": "Retrieve a specific account using RESTful path parameters.\n\n**Supported formats:**\n- `/accounts/94` - Get account by ID (numeric)\n- `/accounts/johndoe` - Get account by username (string)\n\n**Path Parameter Detection:**\n- If the identifier is numeric, it's treated as an account ID\n- If the identifier is a string, it's treated as a username\n",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "description": "Account ID",
                  "example": 94
                },
                {
                  "type": "string",
                  "description": "Account username",
                  "example": "johndoe"
                }
              ]
            },
            "description": "Account identifier (ID or username)"
          }
        ],
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/domains": {
      "get": {
        "summary": "Get all domains (synced from PowerDNS Admin)",
        "description": "Retrieve a list of all domains with automatic synchronization from PowerDNS Admin.\n\n**Important:** Domain creation is not supported through this API. \nDomains must be created in PowerDNS Admin directly, then synced using the ?action=sync parameter.\n\n**Functionality:**\n- Automatically fetches latest domains from PowerDNS Admin API\n- Syncs domain data to local database for caching\n- Returns domains with account relationships\n- Use ?action=sync to force refresh from PowerDNS Admin\n",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "sync",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Set to true to sync domains from PDNSAdmin before returning results"
          },
          {
            "name": "account_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter domains by account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Domain"
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/domains/{id}": {
      "get": {
        "summary": "Get domain by ID",
        "description": "Retrieve a specific domain by its ID",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Domain ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Domain details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Domain"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Update domain",
        "description": "Update an existing domain. If account_id is changed, \nthe domain assignment is automatically updated in PDNSAdmin.\n",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Domain ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainUpdate"
              },
              "examples": {
                "change_account": {
                  "summary": "Change domain account",
                  "value": {
                    "account_id": 2
                  }
                },
                "remove_account": {
                  "summary": "Remove from account",
                  "value": {
                    "account_id": null
                  }
                },
                "update_settings": {
                  "summary": "Update domain settings",
                  "value": {
                    "kind": "Slave",
                    "masters": [
                      "192.168.1.100"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/domain-account": {
      "post": {
        "summary": "Domain-Account operations",
        "description": "Perform operations to manage domain-account relationships",
        "tags": [
          "Domain-Account"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "add",
                "remove",
                "list"
              ]
            },
            "description": "Action to perform (add, remove, list)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/DomainAccountAdd"
                  },
                  {
                    "$ref": "#/components/schemas/DomainAccountRemove"
                  },
                  {
                    "$ref": "#/components/schemas/DomainAccountList"
                  }
                ]
              },
              "examples": {
                "add_domain": {
                  "summary": "Add domain to account",
                  "value": {
                    "domain_name": "example.com.",
                    "account_id": 1
                  }
                },
                "remove_domain": {
                  "summary": "Remove domain from account",
                  "value": {
                    "domain_name": "example.com."
                  }
                },
                "list_domains": {
                  "summary": "List account domains",
                  "value": {
                    "account_id": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SuccessMessage"
                    },
                    {
                      "$ref": "#/components/schemas/AccountDomainsList"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/status": {
      "get": {
        "summary": "API status",
        "description": "Get API status and health information",
        "tags": [
          "Status"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "test_connection",
                "sync_all",
                "health"
              ]
            },
            "description": "Specific action to perform"
          }
        ],
        "responses": {
          "200": {
            "description": "Status information",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiStatus"
                    },
                    {
                      "$ref": "#/components/schemas/ConnectionTest"
                    },
                    {
                      "$ref": "#/components/schemas/SyncResult"
                    },
                    {
                      "$ref": "#/components/schemas/HealthCheck"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic Authentication using base64 encoded credentials.\n\n**Format:** `Authorization: Basic <base64-encoded-credentials>`\n\n**Example:** \n```\nAuthorization: Basic YWRtaW46YWRtaW4=\n```\n\n**Note:** The credentials should be base64 encoded before sending the request.\n"
      }
    },
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Account ID",
            "example": 1
          },
          "username": {
            "type": "string",
            "description": "Username (unique)",
            "example": "testuser"
          },
          "firstname": {
            "type": "string",
            "description": "First name",
            "example": "John"
          },
          "lastname": {
            "type": "string",
            "description": "Last name",
            "example": "Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address",
            "example": "john@example.com"
          },
          "role_id": {
            "type": "integer",
            "description": "Role ID (2 = User, 1 = Admin)",
            "example": 2
          },
          "ip_addresses": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "ipv4 | ipv6"
            },
            "description": "List of IP addresses (IPv4/IPv6, local storage only)",
            "example": [
              "192.168.1.100",
              "2001:db8::1"
            ]
          },
          "customer_id": {
            "type": "integer",
            "description": "Customer ID for business relationships",
            "example": 1001
          },
          "pdns_account_id": {
            "type": "integer",
            "nullable": true,
            "description": "PowerDNS Admin account ID (synced from PowerDNS Admin)",
            "example": 12
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          }
        }
      },
      "AccountCreate": {
        "type": "object",
        "required": [
          "username",
          "plain_text_password",
          "firstname",
          "email"
        ],
        "properties": {
          "username": {
            "type": "string",
            "description": "Username for PowerDNS Admin (must be unique)",
            "example": "testuser1754424578"
          },
          "plain_text_password": {
            "type": "string",
            "description": "Plain text password for PowerDNS Admin user",
            "example": "36440b7d5ab7521f"
          },
          "firstname": {
            "type": "string",
            "description": "First name",
            "example": "Test"
          },
          "lastname": {
            "type": "string",
            "description": "Last name",
            "example": "User"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address",
            "example": "test@example.com"
          },
          "role": {
            "type": "object",
            "description": "User role object",
            "properties": {
              "id": {
                "type": "integer",
                "description": "Role ID (2 = User, 1 = Admin)",
                "example": 2
              },
              "name": {
                "type": "string",
                "description": "Role name",
                "example": "User"
              }
            },
            "required": [
              "id",
              "name"
            ]
          },
          "ip_addresses": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "ipv4 | ipv6"
            },
            "description": "List of IP addresses (IPv4/IPv6, local storage only)",
            "example": [
              "192.168.1.100",
              "2001:db8::1"
            ]
          },
          "customer_id": {
            "type": "integer",
            "description": "Customer ID for business relationships",
            "example": 1001
          }
        }
      },
      "AccountUpdate": {
        "type": "object",
        "properties": {
          "firstname": {
            "type": "string",
            "description": "First name"
          },
          "lastname": {
            "type": "string",
            "description": "Last name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address"
          },
          "role_id": {
            "type": "integer",
            "description": "Role ID"
          },
          "ip_addresses": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "ipv4 | ipv6"
            },
            "description": "List of IP addresses (IPv4/IPv6)"
          },
          "customer_id": {
            "type": "integer",
            "nullable": true,
            "description": "Customer ID"
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Domain ID",
            "example": 1
          },
          "name": {
            "type": "string",
            "description": "Domain name",
            "example": "example.com."
          },
          "type": {
            "type": "string",
            "description": "Domain type",
            "example": "Zone"
          },
          "account_id": {
            "type": "integer",
            "nullable": true,
            "description": "Associated account ID",
            "example": 1
          },
          "account_name": {
            "type": "string",
            "nullable": true,
            "description": "Associated account name",
            "example": "customer-account"
          },
          "pdns_zone_id": {
            "type": "string",
            "description": "PDNSAdmin zone ID",
            "example": "example.com."
          },
          "kind": {
            "type": "string",
            "enum": [
              "Native",
              "Master",
              "Slave"
            ],
            "description": "Zone kind",
            "example": "Master"
          },
          "masters": {
            "type": "string",
            "description": "Comma-separated list of master servers",
            "example": "192.168.1.100,192.168.1.101"
          },
          "dnssec": {
            "type": "boolean",
            "description": "DNSSEC enabled",
            "example": false
          },
          "account": {
            "type": "string",
            "description": "Account name from PDNSAdmin",
            "example": "customer-account"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          }
        }
      },
      "DomainUpdate": {
        "type": "object",
        "properties": {
          "account_id": {
            "type": "integer",
            "nullable": true,
            "description": "Account ID to assign domain to (null to remove)"
          },
          "kind": {
            "type": "string",
            "enum": [
              "Native",
              "Master",
              "Slave"
            ],
            "description": "Zone kind"
          },
          "masters": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of master servers"
          },
          "dnssec": {
            "type": "boolean",
            "description": "Enable DNSSEC"
          }
        }
      },
      "DomainAccountAdd": {
        "type": "object",
        "required": [
          "domain_name",
          "account_id"
        ],
        "properties": {
          "domain_name": {
            "type": "string",
            "description": "Domain name to add to account",
            "example": "example.com."
          },
          "account_id": {
            "type": "integer",
            "description": "Account ID",
            "example": 1
          }
        }
      },
      "DomainAccountRemove": {
        "type": "object",
        "required": [
          "domain_name"
        ],
        "properties": {
          "domain_name": {
            "type": "string",
            "description": "Domain name to remove from account",
            "example": "example.com."
          }
        }
      },
      "DomainAccountList": {
        "type": "object",
        "required": [
          "account_id"
        ],
        "properties": {
          "account_id": {
            "type": "integer",
            "description": "Account ID to list domains for",
            "example": 1
          }
        }
      },
      "AccountDomainsList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "account": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              },
              "domains": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Domain"
                }
              },
              "domain_count": {
                "type": "integer"
              }
            }
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ApiStatus": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "api_version": {
                "type": "string",
                "example": "1.0.0"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              },
              "endpoints": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "example": {
                  "accounts": "/api/accounts",
                  "domains": "/api/domains",
                  "status": "/api/status"
                }
              },
              "pdns_admin_status": {
                "type": "string",
                "enum": [
                  "connected",
                  "disconnected"
                ]
              },
              "database_status": {
                "type": "string",
                "enum": [
                  "connected",
                  "disconnected"
                ]
              }
            }
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ConnectionTest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "connected",
                  "disconnected"
                ]
              },
              "pdns_domains_count": {
                "type": "integer"
              }
            }
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SyncResult": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "accounts": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string"
                  },
                  "count": {
                    "type": "integer"
                  }
                }
              },
              "domains": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string"
                  },
                  "count": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "message": {
            "type": "string"
          }
        }
      },
      "HealthCheck": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "database": {
                "type": "string",
                "enum": [
                  "connected",
                  "disconnected",
                  "unknown"
                ]
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              },
              "version": {
                "type": "string"
              },
              "local_accounts_count": {
                "type": "integer"
              },
              "local_domains_count": {
                "type": "integer"
              }
            }
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ApiDocumentation": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "version": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "endpoints": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "example": {
                  "accounts": "/api/accounts",
                  "domains": "/api/domains",
                  "status": "/api/status"
                }
              },
              "setup_instructions": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SuccessMessage": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Operation completed successfully"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message",
            "example": "Invalid request data"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Detailed error messages"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - Invalid input data",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Invalid request data",
              "errors": [
                "Name is required",
                "Email format is invalid"
              ]
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Resource not found"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict - Resource already exists",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Account already exists"
            }
          }
        }
      },
      "ServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Internal server error"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Documentation",
      "description": "API documentation and information"
    },
    {
      "name": "Accounts",
      "description": "Account management operations with IP address support"
    },
    {
      "name": "Domains",
      "description": "Domain management operations (creation and updates only)"
    },
    {
      "name": "Domain-Account",
      "description": "Domain-account relationship management"
    },
    {
      "name": "Status",
      "description": "API status, health checks, and synchronization"
    }
  ]
}