{
  "openapi": "3.0.3",
  "info": {
    "title": "PowerDNS API - User Guide",
    "description": "User-focused API documentation for managing your domains with account-scoped API keys.\n\n## \ud83d\udd10 Authentication\n\nUse your account-scoped API key in requests:\n\n```bash\n# Using X-API-Key header (recommended)\ncurl -H \"X-API-Key: your_api_key_here\" https://pdnsapi.avant.nl/api/domains\n\n# Using Authorization header\ncurl -H \"Authorization: Bearer your_api_key_here\" https://pdnsapi.avant.nl/api/domains\n```\n\n## \ud83c\udfaf Account Scope\n\nYour API key is restricted to **your account's domains only**. You can:\n- \u2705 View domains belonging to your account\n- \u2705 Create new domains (if permitted)\n- \u2705 Update your domains (if permitted)\n- \u274c Access domains from other accounts\n\n## \ud83d\udd12 IP Restrictions\n\nYour API key may be restricted to specific IP addresses:\n- **Global Allowlist** - Your IP must be in the system allowlist\n- **Key-Specific IPs** - Your key may have additional IP restrictions\n- If blocked, contact your administrator to add your IP\n\n## \ud83d\udcdd Permissions\n\nYour API key has specific permissions:\n- **domains: \"r\"** - Read-only access to domains\n- **domains: \"rw\"** - Read and write access\n- **create_domains** - Can create new domains\n- **delete_domains** - Can delete domains (rarely granted)\n\nContact your administrator to change permissions.\n",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "email": "support@avant.nl"
    }
  },
  "servers": [
    {
      "url": "https://pdnsapi.avant.nl/",
      "description": "Production API Server"
    }
  ],
  "security": [
    {
      "AccountApiKey": []
    }
  ],
  "paths": {
    "/api/domains": {
      "get": {
        "summary": "List your domains",
        "description": "Get all domains belonging to your account.\n\n**\ud83d\udd10 Account Scope:** Only shows domains from your account.\n",
        "tags": [
          "Domains"
        ],
        "responses": {
          "200": {
            "description": "List of your domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Domain"
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": 821,
                      "name": "example.com",
                      "type": "Native",
                      "account_id": 5,
                      "account_name": "your_account",
                      "kind": "Native",
                      "dnssec": false,
                      "created_at": "2025-08-05 01:55:34"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - IP address not allowed"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "post": {
        "summary": "Create a new domain",
        "description": "Create a new domain under your account.\n\n**\ud83d\udd10 Permission Required:** `create_domains: true`\n\n**\ud83d\udccb Domain will be automatically assigned to your account.**\n",
        "tags": [
          "Domains"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Domain name",
                    "example": "newdomain.com"
                  },
                  "kind": {
                    "type": "string",
                    "enum": [
                      "Native",
                      "Master",
                      "Slave"
                    ],
                    "default": "Native",
                    "description": "Domain type"
                  },
                  "nameservers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Nameserver list",
                    "example": [
                      "ns1.example.com",
                      "ns2.example.com"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Domain"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid domain name or data"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Permission denied or IP not allowed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/domains/{id}": {
      "get": {
        "summary": "Get domain details",
        "description": "Get details for a specific domain.\n\n**\ud83d\udd10 Account Scope:** Only accessible if domain belongs to your account.\n",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Domain ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Domain details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Domain"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Domain does not belong to your account"
          },
          "404": {
            "description": "Not found - Domain does not exist"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "put": {
        "summary": "Update domain",
        "description": "Update an existing domain.\n\n**\ud83d\udd10 Account Scope:** Only accessible if domain belongs to your account.\n**\ud83d\udd10 Permission Required:** `domains: \"w\"` or `domains: \"rw\"`\n",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Domain ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Update domain settings. All fields are optional - only include what you want to change.\n",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "Native",
                      "Master",
                      "Slave"
                    ],
                    "description": "Zone type:\n- **Native**: Standard zone (most common)\n- **Master**: Can be transferred to slaves\n- **Slave**: Replicates from master servers\n",
                    "example": "Native"
                  },
                  "masters": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Master server IP addresses (required for Slave zones)",
                    "example": [
                      "192.168.1.100",
                      "192.168.1.101"
                    ]
                  },
                  "dnssec": {
                    "type": "boolean",
                    "description": "Enable/disable DNSSEC signing",
                    "example": true
                  },
                  "rrsets": {
                    "type": "array",
                    "description": "DNS record updates. Add, update, or delete DNS records.\n\n**Record Types:**\n- **A**: IPv4 address (192.168.1.100)\n- **AAAA**: IPv6 address (2001:db8::1)\n- **CNAME**: Alias to another domain\n- **MX**: Mail server (priority + domain)\n- **TXT**: Text data (SPF, DKIM, verification)\n- **SRV**: Service discovery\n",
                    "items": {
                      "type": "object",
                      "required": [
                        "name",
                        "type",
                        "changetype"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Record name (must end with .)",
                          "example": "www.example.com."
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "A",
                            "AAAA",
                            "CNAME",
                            "MX",
                            "TXT",
                            "SRV",
                            "PTR",
                            "NS"
                          ],
                          "description": "DNS record type",
                          "example": "A"
                        },
                        "changetype": {
                          "type": "string",
                          "enum": [
                            "REPLACE",
                            "DELETE"
                          ],
                          "description": "Operation: REPLACE to add/update, DELETE to remove",
                          "example": "REPLACE"
                        },
                        "ttl": {
                          "type": "integer",
                          "description": "Time to live in seconds (default 3600)",
                          "example": 3600
                        },
                        "records": {
                          "type": "array",
                          "description": "Record data (required for REPLACE)",
                          "items": {
                            "type": "object",
                            "properties": {
                              "content": {
                                "type": "string",
                                "description": "Record value",
                                "example": "192.168.1.100"
                              },
                              "disabled": {
                                "type": "boolean",
                                "default": false
                              }
                            }
                          },
                          "example": [
                            {
                              "content": "192.168.1.100",
                              "disabled": false
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "enable_dnssec": {
                  "summary": "Enable DNSSEC",
                  "description": "Turn on DNSSEC signing for your domain",
                  "value": {
                    "dnssec": true
                  }
                },
                "disable_dnssec": {
                  "summary": "Disable DNSSEC",
                  "description": "Turn off DNSSEC signing",
                  "value": {
                    "dnssec": false
                  }
                },
                "convert_to_slave": {
                  "summary": "Convert to slave zone",
                  "description": "Make this domain replicate from master servers",
                  "value": {
                    "kind": "Slave",
                    "masters": [
                      "192.168.1.100",
                      "192.168.1.101"
                    ]
                  }
                },
                "convert_to_native": {
                  "summary": "Convert to native zone",
                  "description": "Standard zone type (most common)",
                  "value": {
                    "kind": "Native"
                  }
                },
                "update_masters": {
                  "summary": "Update master servers",
                  "description": "Change which servers to replicate from (for slave zones)",
                  "value": {
                    "masters": [
                      "10.0.0.5",
                      "10.0.0.6"
                    ]
                  }
                },
                "add_a_record": {
                  "summary": "Add A record (IPv4 address)",
                  "description": "Point www subdomain to an IP address",
                  "value": {
                    "rrsets": [
                      {
                        "name": "www.yourdomain.com.",
                        "type": "A",
                        "changetype": "REPLACE",
                        "ttl": 3600,
                        "records": [
                          {
                            "content": "192.168.1.100"
                          }
                        ]
                      }
                    ]
                  }
                },
                "add_mx_records": {
                  "summary": "Configure mail servers",
                  "description": "Set up MX records for email delivery",
                  "value": {
                    "rrsets": [
                      {
                        "name": "yourdomain.com.",
                        "type": "MX",
                        "changetype": "REPLACE",
                        "ttl": 3600,
                        "records": [
                          {
                            "content": "10 mail.yourdomain.com."
                          },
                          {
                            "content": "20 mail2.yourdomain.com."
                          }
                        ]
                      }
                    ]
                  }
                },
                "add_txt_spf": {
                  "summary": "Add SPF record",
                  "description": "Configure email sender policy",
                  "value": {
                    "rrsets": [
                      {
                        "name": "yourdomain.com.",
                        "type": "TXT",
                        "changetype": "REPLACE",
                        "ttl": 3600,
                        "records": [
                          {
                            "content": "\"v=spf1 mx a -all\""
                          }
                        ]
                      }
                    ]
                  }
                },
                "add_cname": {
                  "summary": "Create subdomain alias",
                  "description": "Point blog subdomain to another server",
                  "value": {
                    "rrsets": [
                      {
                        "name": "blog.yourdomain.com.",
                        "type": "CNAME",
                        "changetype": "REPLACE",
                        "ttl": 3600,
                        "records": [
                          {
                            "content": "hosting.example.com."
                          }
                        ]
                      }
                    ]
                  }
                },
                "delete_record": {
                  "summary": "Delete a DNS record",
                  "description": "Remove a specific record completely",
                  "value": {
                    "rrsets": [
                      {
                        "name": "old.yourdomain.com.",
                        "type": "A",
                        "changetype": "DELETE"
                      }
                    ]
                  }
                },
                "full_dns_config": {
                  "summary": "Complete DNS configuration",
                  "description": "Set up web, mail, and verification records at once",
                  "value": {
                    "rrsets": [
                      {
                        "name": "www.yourdomain.com.",
                        "type": "A",
                        "changetype": "REPLACE",
                        "ttl": 3600,
                        "records": [
                          {
                            "content": "192.168.1.100"
                          }
                        ]
                      },
                      {
                        "name": "yourdomain.com.",
                        "type": "MX",
                        "changetype": "REPLACE",
                        "ttl": 3600,
                        "records": [
                          {
                            "content": "10 mail.yourdomain.com."
                          }
                        ]
                      },
                      {
                        "name": "yourdomain.com.",
                        "type": "TXT",
                        "changetype": "REPLACE",
                        "ttl": 3600,
                        "records": [
                          {
                            "content": "\"v=spf1 mx -all\""
                          }
                        ]
                      }
                    ]
                  }
                },
                "full_config": {
                  "summary": "Complete configuration",
                  "description": "Update multiple settings at once",
                  "value": {
                    "kind": "Native",
                    "dnssec": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Domain"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or wrong account"
          },
          "404": {
            "description": "Not found - Domain does not exist"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "delete": {
        "summary": "Delete domain",
        "description": "Delete a domain from your account.\n\n**\ud83d\udd10 Account Scope:** Only accessible if domain belongs to your account.\n**\ud83d\udd10 Permission Required:** `delete_domains: true`\n\n**\u26a0\ufe0f WARNING:** This permanently deletes the domain and all its records.\n",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Domain ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Domain deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or wrong account"
          },
          "404": {
            "description": "Not found - Domain does not exist"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/status": {
      "get": {
        "summary": "API Status",
        "description": "Check if the API is operational",
        "tags": [
          "Status"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "API is operational",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "api_version": {
                          "type": "string"
                        },
                        "timestamp": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AccountApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "**Account-Scoped API Key Authentication**\n\nYour API key provides secure access to your account's domains.\n\n**How to use:**\n```bash\ncurl -H \"X-API-Key: your_key_here\" https://pdnsapi.avant.nl/api/domains\n```\n\n**Security:**\n- Your key is restricted to your account only\n- May have IP address restrictions\n- Has specific permissions (read, write, create, delete)\n- Never share your API key\n- Contact support if your key is compromised\n"
      }
    },
    "schemas": {
      "Domain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Domain ID",
            "example": 821
          },
          "name": {
            "type": "string",
            "description": "Domain name",
            "example": "example.com"
          },
          "type": {
            "type": "string",
            "description": "Domain type",
            "example": "Native"
          },
          "account_id": {
            "type": "integer",
            "description": "Your account ID",
            "example": 5
          },
          "account_name": {
            "type": "string",
            "description": "Your account name",
            "example": "customer_account"
          },
          "pdns_zone_id": {
            "type": "string",
            "description": "PowerDNS zone ID",
            "example": "example.com."
          },
          "kind": {
            "type": "string",
            "enum": [
              "Native",
              "Master",
              "Slave"
            ],
            "description": "Zone kind",
            "example": "Native"
          },
          "masters": {
            "type": "string",
            "description": "Master servers (for slave zones)",
            "example": ""
          },
          "dnssec": {
            "type": "boolean",
            "description": "DNSSEC enabled",
            "example": false
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp",
            "example": "2025-08-05 01:55:34"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp",
            "example": "2025-08-10 12:45:15"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Detailed errors"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Domains",
      "description": "Manage your domains"
    },
    {
      "name": "Status",
      "description": "API health and status"
    }
  ]
}