openapi: 3.0.3
info:
  title: PDNSAdmin PHP API
  description: |
    PHP API wrapper for PowerDNS Admin with local database storage.
    
    ## Authentication
    Uses Basic Authentication with base64 encoded credentials.
    Include `Authorization: Basic <base64-credentials>` header in requests.
    
    **Admin API Key Required** - Single API key provides full administrative access.
    
    ## Core Features
    - Account and user management with PowerDNS Admin sync
    - Domain management with intelligent ID/name detection
    - DNS record management via PowerDNS Server API
    - Template-based domain creation
    - Local database caching and metadata storage
  version: 1.0.9
  contact:
    name: API Support - Silvester van der Leer
    email: silvester@avant.nl
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://pdnsapi.avant.nl/
    description: Production server (PowerDNS Admin API)

security:
  - AdminApiKey: []

paths:
  /:
    get:
      summary: API Documentation
      description: Returns API documentation and available endpoints
      tags:
        - Documentation
      security: []  # No authentication required
      responses:
        '200':
          description: API documentation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDocumentation'

  /accounts:
    get:
      summary: Get accounts with smart filtering
      description: |
        Retrieve accounts from local database with PowerDNS Admin synchronization.
        
        **🔑 Requires Admin API Key**
        
        **Filter Logic (AND conditions):**
        - Single parameter: Direct lookup
        - Multiple parameters: Must ALL match (validation)
        - `?id=14&username=admin` returns user only if ID 14 has username "admin"
        - Returns 404 if parameters don't match the same user
      tags:
        - Accounts
      parameters:
        - name: id
          in: query
          schema:
            type: integer
          description: Filter by account ID (can combine with other filters for validation)
          example: 14
        - name: username
          in: query
          schema:
            type: string
          description: Filter by username (can combine with ID for validation)
          example: "admin"
        - name: email
          in: query
          schema:
            type: string
          description: Filter by email address (can combine with other filters)
          example: "admin@example.com"
        - name: sync
          in: query
          schema:
            type: boolean
          description: Sync from PowerDNS Admin before filtering
      responses:
        '200':
          description: List of accounts or single account (with AND validation)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
                  message:
                    type: string
                    example: "Found user with ID 14 and username 'admin'"
              examples:
                all_accounts:
                  summary: All accounts
                  value:
                    data: []
                    message: "Users retrieved successfully (47 users available)"
                single_filter:
                  summary: Single filter (ID only)
                  value:
                    data: [{"id": 14, "username": "admin"}]
                    message: "Found 1 user with ID 14"
                and_validation_success:
                  summary: AND validation success
                  value:
                    data: [{"id": 14, "username": "admin"}]
                    message: "Found user with ID 14 and username 'admin'"
        '401':
          description: Unauthorized - Valid Admin API Key required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Valid Admin API Key required"
        '404':
          description: No accounts found or AND validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "User with ID 14 does not have username 'john'"
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      summary: Create a new account
      description: |
        Create a new account with optional IP addresses. The account is created in both PDNSAdmin and local database.
        
        **� Requires Admin API Key**
      tags:
        - Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreate'
            examples:
              powerdns_admin_user:
                summary: PowerDNS Admin User Creation
                value:
                  username: "testuser1754424578"
                  plain_text_password: "36440b7d5ab7521f"
                  firstname: "Test"
                  lastname: "User"
                  email: "test@example.com"
                  role:
                    id: 2
                    name: "User"
                  ip_addresses: ["192.168.1.101", "192.168.1.102", "2001:db8::2"]
                  customer_id: 1001
      responses:
        '201':
          description: Account created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '400':
          description: Bad Request - Invalid input data
        '401':
          description: Unauthorized - Valid Admin API Key required
        '409':
          description: Conflict - Username or email already exists
        '500':
          $ref: '#/components/responses/ServerError'

    put:
      summary: Update account
      description: |
        Update an existing account using JSON input. Changes are synced with PDNSAdmin (except IP addresses).
        
        **� Requires Admin API Key**
        
        **JSON Payload (Required):**
        - Include account identifier (`id` or `username`)
        - Include fields to update
        - IP addresses are stored locally only
      tags:
        - Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateRequest'
            examples:
              update_by_id:
                summary: Update account by ID
                value:
                  id: 94
                  firstname: "Updated First Name"
                  lastname: "Updated Last Name"
                  email: "updated@example.com"
                  ip_addresses: ["192.168.1.101", "192.168.1.102"]
              update_by_username:
                summary: Update account by username
                value:
                  username: "johndoe"
                  customer_id: 1001
                  ip_addresses: ["192.168.1.200", "2001:db8::5"]
      responses:
        '200':
          description: Account updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    delete:
      summary: Delete account
      description: |
        Delete an account from PowerDNS Admin using JSON input. The local database is automatically synced after deletion.
        
        **� Requires Admin API Key**
        **⚠️ Warning:** This action cannot be undone.
        
        **JSON Payload (Required):**
        - Use `{"id": 94}` to delete account by ID
        - Use `{"username": "johndoe"}` to delete account by username
        
        **Important:** This operation only deletes from PowerDNS Admin. The local database is updated through 
        automatic synchronization, ensuring the API remains the authoritative source for account management.
      tags:
        - Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountIdentifier'
            examples:
              delete_by_id:
                summary: Delete account by ID
                value:
                  id: 94
              delete_by_username:
                summary: Delete account by username
                value:
                  username: "johndoe"
      responses:
        '200':
          description: Account deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /domains:
    get:
      summary: Get domains with intelligent search
      description: |
        Retrieve domains/zones with automatic PowerDNS Admin synchronization.
        
        **Smart Query with AND Filters:**
        - `q` parameter: Auto-detects search type (ID/name/pattern/contains)  
        - Additional filters: Combined as AND conditions
        - `?q=example.com&account_id=5` finds "example.com" AND belongs to account 5
      tags:
        - Domains
        - Domain Search
      parameters:
        - name: q
          in: query
          schema:
            type: string
          description: Smart query (auto-detects ID/name/pattern/contains) - primary filter
          example: "avant"
        - name: account_id
          in: query
          schema:
            type: integer
          description: Additional filter - must match account (AND condition with q)
        - name: sync
          in: query
          schema:
            type: boolean
          description: Sync from PowerDNS Admin before filtering
        - name: account_id
          in: query
          schema:
            type: integer
          description: Filter domains by account ID
        - name: details
          in: query
          schema:
            type: boolean
          description: Include full DNS records via PowerDNS Server API (requires PowerDNS API key)
      responses:
        '200':
          description: List of domains/zones
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/Domain'
                        - $ref: '#/components/schemas/DomainDetails'
                  message:
                    type: string
                    example: "Found 40 domains matching 'avant'"
                  query_type:
                    type: string
                    enum: ["all", "id", "name", "pattern", "contains", "account"]
                    description: The type of query that was executed
                    example: "contains"

    post:
      summary: Advanced domain search
      description: |
        Search domains with JSON payload for complex queries and filters.
        Supports combined filters and advanced options.
      tags:
        - Domains
        - Domain Search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: Domain ID for exact lookup
                  example: 123
                name:
                  type: string
                  description: Exact domain name
                  example: "example.com"
                pattern:
                  type: string
                  description: Pattern search (supports * wildcards)
                  example: "*avant*"
                contains:
                  type: string
                  description: Contains search (case-insensitive)
                  example: "avant"
                account_id:
                  type: integer
                  description: Filter by account ID
                  example: 1
                details:
                  type: boolean
                  description: Include full DNS records
                  example: false
                sync:
                  type: boolean
                  description: Sync from PowerDNS Admin first
                  example: false
            examples:
              search_by_id:
                summary: Get domain by ID
                value:
                  id: 123
              search_by_name:
                summary: Get domain by name
                value:
                  name: "example.com"
              pattern_search:
                summary: Pattern search
                value:
                  pattern: "*avant*"
                  details: true
              account_domains:
                summary: Get account domains
                value:
                  account_id: 1
      responses:
        '200':
          description: Domain search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/Domain'
                        - $ref: '#/components/schemas/DomainDetails'
                  message:
                    type: string
                  query_type:
                    type: string
                  filters_applied:
                    type: object

    put:
      summary: Update domain by ID or name  
      description: |
        Update domain settings and DNS records.
        Supports both ID and name-based updates with PowerDNS Admin and Server API integration.
      tags:
        - Domains
        - Domain Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: Domain ID (use this OR name, not both)
                  example: 123
                name:
                  type: string
                  description: Domain name (use this OR id, not both)
                  example: "example.com"
                account_id:
                  type: integer
                  nullable: true
                  description: Account ID to assign domain to
                kind:
                  type: string
                  enum: [Native, Master, Slave]
                  description: Zone kind
                masters:
                  type: array
                  items:
                    type: string
                  description: Master servers (for Slave zones)
                dnssec:
                  type: boolean
                  description: Enable DNSSEC
                rrsets:
                  type: array
                  description: DNS record updates (PowerDNS Server API)
                  items:
                    $ref: '#/components/schemas/RRSetUpdate'
              anyOf:
                - required: [id]
                - required: [name]
            examples:
              update_by_id:
                summary: Update domain by ID
                value:
                  id: 123
                  kind: "Native"
                  dnssec: true
              update_by_name:
                summary: Update domain by name
                value:
                  name: "example.com"
                  account_id: 2
              update_dns_records:
                summary: Update DNS records by name
                value:
                  name: "example.com"
                  rrsets:
                    - name: "www.example.com."
                      type: "A"
                      changetype: "REPLACE"
                      records:
                        - content: "192.168.1.100"
      responses:
        '200':
          description: Domain updated successfully
        '404':
          description: Domain not found

    delete:
      summary: Delete domain by ID or name
      description: |
        Delete domain permanently. Supports both ID and name-based deletion.
        Warning: This action cannot be undone.
      tags:
        - Domains
        - Domain Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: Domain ID (use this OR name, not both)
                  example: 123
                name:
                  type: string
                  description: Domain name (use this OR id, not both)
                  example: "example.com"
              anyOf:
                - required: [id]
                - required: [name]
            examples:
              delete_by_id:
                summary: Delete domain by ID
                value:
                  id: 123
              delete_by_name:
                summary: Delete domain by name
                value:
                  name: "example.com"
      responses:
        '200':
          description: Domain deleted successfully
        '404':
          description: Domain not found
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      summary: Add domain to account
      description: |
        Add a domain to a specific account. This operation uses direct API calls
        to assign domains to accounts in PowerDNS Admin.
        
        **JSON Payload:**
        - `domain_name`: Domain name to assign (required)
        - `account_id`: Target account ID (required)
      tags:
        - Domains
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domain_name, account_id]
              properties:
                domain_name:
                  type: string
                  description: Domain name to add (include trailing dot)
                  example: "example.com."
                account_id:
                  type: integer
                  description: Account ID to assign domain to
                  example: 1
            examples:
              add_domain_to_account:
                summary: Add domain to account
                value:
                  domain_name: "example.com."
                  account_id: 1
      responses:
        '200':
          description: Domain added to account successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /domains/{id}:
    get:
      summary: Get individual domain by ID
      description: |
        Retrieve a specific domain by its ID from the local database.
      tags:
        - Domains
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Domain ID
          example: 123
      responses:
        '200':
          description: Domain details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Domain'
                  message:
                    type: string
                    example: "Domain retrieved successfully"
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    
    put:
      summary: Update domain by ID (path parameter)
      description: |
        Update a specific domain using path parameter for ID.
        Alternative to PUT /domains with JSON payload.
      tags:
        - Domains
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Domain ID
          example: 123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainUpdate'
            examples:
              change_account:
                summary: Change domain account
                value:
                  account_id: 2
              update_settings:
                summary: Update domain settings
                value:
                  kind: "Slave"
                  masters: ["192.168.1.100"]
                  dnssec: true
      responses:
        '200':
          description: Domain updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    delete:
      summary: Delete domain by ID
      description: |
        Delete a domain from both local database and PowerDNS Admin.
        **Warning**: This action cannot be undone.
      tags:
        - Domains
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Domain ID
          example: 123
      responses:
        '200':
          description: Domain deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /templates:
    get:
      summary: Get all domain templates
      description: |
        Retrieve all available domain templates from PowerDNS Admin.
        Templates can be used to create domains with predefined settings.
      tags:
        - Templates
      responses:
        '200':
          description: List of domain templates
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Template'
                  message:
                    type: string
                    example: "Templates retrieved successfully"
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      summary: Create new domain template
      description: |
        Create a new domain template in PowerDNS Admin.
      tags:
        - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateCreate'
      responses:
        '201':
          description: Template created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /templates/{id}:
    get:
      summary: Get template by ID
      description: |
        Retrieve a specific domain template by its ID.
      tags:
        - Templates
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Template ID
          example: 1
      responses:
        '200':
          description: Template details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Template'
                  message:
                    type: string
                    example: "Template retrieved successfully"
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    put:
      summary: Update template
      description: |
        Update an existing domain template.
      tags:
        - Templates
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Template ID
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateUpdate'
      responses:
        '200':
          description: Template updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    delete:
      summary: Delete template
      description: |
        Delete a domain template from PowerDNS Admin.
        **Warning**: This action cannot be undone.
      tags:
        - Templates
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Template ID
          example: 1
      responses:
        '200':
          description: Template deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /templates/{id}/create-domain:
    post:
      summary: Create domain from template
      description: |
        Create a new domain using a predefined template.
        The template will be applied to set up the domain with default records and settings.
      tags:
        - Templates
        - Domains
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Template ID
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  description: Domain name to create
                  example: "example.com"
                account_id:
                  type: integer
                  description: Account ID to assign the domain to
                  example: 1
                description:
                  type: string
                  description: Optional description for the domain
                  example: "Production domain for example.com"
      responses:
        '201':
          description: Domain created from template successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Domain'
                  message:
                    type: string
                    example: "Domain created from template successfully"
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /domain-account:
    post:
      summary: Domain-Account operations
      description: Perform operations to manage domain-account relationships
      tags:
        - Domain-Account
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [add, remove, list]
          description: Action to perform (add, remove, list)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/DomainAccountAdd'
                - $ref: '#/components/schemas/DomainAccountRemove'
                - $ref: '#/components/schemas/DomainAccountList'
            examples:
              add_domain:
                summary: Add domain to account
                value:
                  domain_name: "example.com."
                  account_id: 1
              remove_domain:
                summary: Remove domain from account
                value:
                  domain_name: "example.com."
              list_domains:
                summary: List account domains
                value:
                  account_id: 1
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SuccessMessage'
                  - $ref: '#/components/schemas/AccountDomainsList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /status:
    get:
      summary: API status
      description: Get API status and health information
      tags:
        - Status
      parameters:
        - name: action
          in: query
          schema:
            type: string
            enum: [test_connection, sync_all, health]
          description: Specific action to perform
      responses:
        '200':
          description: Status information
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ApiStatus'
                  - $ref: '#/components/schemas/ConnectionTest'
                  - $ref: '#/components/schemas/SyncResult'
                  - $ref: '#/components/schemas/HealthCheck'

components:
  securitySchemes:
    AdminApiKey:
      type: http
      scheme: basic
      description: |
        **ADMIN API KEY AUTHENTICATION**
        
        Single API key provides full administrative access to all endpoints.
        
        **Format:** `Authorization: Basic <base64-encoded-api-key>`
        
        **Example:** 
        ```
        Authorization: Basic YWRtaW5fa2V5OmFkbWluX3Bhc3M=
        ```
        
        **Security Notes:**
        - One API key for all administrative operations
        - Full access to accounts, domains, templates, and DNS records
        - Should be rotated regularly and kept secure
      
  responses:
    BadRequest:
      description: Bad Request - Invalid input data
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Invalid input data provided"
    
    Unauthorized:
      description: Unauthorized - Authentication required
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Authentication credentials are required"
    
    Forbidden:
      description: Forbidden - Insufficient privileges
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Access denied. Administrator privileges required."
    
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Requested resource was not found"
    
    Conflict:
      description: Conflict - Resource already exists
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Resource already exists with this identifier"
    
    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Rate limit exceeded. Please try again later."
              retry_after:
                type: integer
                example: 60
                description: "Seconds until next request allowed"
    
    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "An internal server error occurred"

  schemas:
    Account:
      type: object
      properties:
        id:
          type: integer
          description: Account ID
          example: 1
        username:
          type: string
          description: Username (unique)
          example: "testuser"
        firstname:
          type: string
          description: First name
          example: "John"
        lastname:
          type: string
          description: Last name
          example: "Doe"
        email:
          type: string
          format: email
          description: Email address
          example: "john@example.com"
        role_id:
          type: integer
          description: Role ID (2 = User, 1 = Admin)
          example: 2
        ip_addresses:
          type: array
          items:
            type: string
            format: ipv4 | ipv6
          description: List of IP addresses (IPv4/IPv6, local storage only)
          example: ["192.168.1.100", "2001:db8::1"]
        customer_id:
          type: integer
          description: Customer ID for business relationships
          example: 1001
        pdns_account_id:
          type: integer
          nullable: true
          description: PowerDNS Admin account ID (synced from PowerDNS Admin)
          example: 12
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp

    AccountCreate:
      type: object
      required:
        - username
        - plain_text_password
        - firstname  
        - email
      properties:
        username:
          type: string
          description: Username for PowerDNS Admin (must be unique)
          example: "testuser1754424578"
        plain_text_password:
          type: string
          description: Plain text password for PowerDNS Admin user
          example: "36440b7d5ab7521f"
        firstname:
          type: string
          description: First name
          example: "Test"
        lastname:
          type: string
          description: Last name
          example: "User"
        email:
          type: string
          format: email
          description: Email address
          example: "test@example.com"
        role:
          type: object
          description: User role object
          properties:
            id:
              type: integer
              description: Role ID (2 = User, 1 = Admin)
              example: 2
            name:
              type: string
              description: Role name
              example: "User"
          required:
            - id
            - name
        ip_addresses:
          type: array
          items:
            type: string
            format: ipv4 | ipv6
          description: List of IP addresses (IPv4/IPv6, local storage only)
          example: ["192.168.1.100", "2001:db8::1"]
        customer_id:
          type: integer
          description: Customer ID for business relationships
          example: 1001

    AccountIdentifier:
      type: object
      oneOf:
        - type: object
          required: [id]
          properties:
            id:
              type: integer
              description: Account ID
              example: 94
          additionalProperties: false
        - type: object
          required: [username]
          properties:
            username:
              type: string
              description: Account username
              example: "johndoe"
          additionalProperties: false
      description: Account identifier object (either ID or username, not both)

    AccountUpdateRequest:
      type: object
      oneOf:
        - allOf:
          - type: object
            required: [id]
            properties:
              id:
                type: integer
                description: Account ID
                example: 94
          - $ref: '#/components/schemas/AccountUpdate'
        - allOf:
          - type: object
            required: [username]
            properties:
              username:
                type: string
                description: Account username
                example: "johndoe"
          - $ref: '#/components/schemas/AccountUpdate'
      description: Account update request with identifier and update fields

    AccountUpdate:
      type: object
      properties:
        firstname:
          type: string
          description: First name
        lastname:
          type: string
          description: Last name
        email:
          type: string
          format: email
          description: Email address
        role_id:
          type: integer
          description: Role ID
        ip_addresses:
          type: array
          items:
            type: string
            format: ipv4 | ipv6
          description: List of IP addresses (IPv4/IPv6)
        customer_id:
          type: integer
          nullable: true
          description: Customer ID

    Domain:
      type: object
      properties:
        id:
          type: integer
          description: Domain ID
          example: 1
        name:
          type: string
          description: Domain name
          example: "example.com."
        type:
          type: string
          description: Domain type
          example: "Zone"
        account_id:
          type: integer
          nullable: true
          description: Associated account ID
          example: 1
        account_name:
          type: string
          nullable: true
          description: Associated account name
          example: "customer-account"
        pdns_zone_id:
          type: string
          description: PDNSAdmin zone ID
          example: "example.com."
        kind:
          type: string
          enum: [Native, Master, Slave]
          description: Zone kind
          example: "Master"
        masters:
          type: string
          description: Comma-separated list of master servers
          example: "192.168.1.100,192.168.1.101"
        dnssec:
          type: boolean
          description: DNSSEC enabled
          example: false
        account:
          type: string
          description: Account name from PDNSAdmin
          example: "customer-account"
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp

    DomainUpdate:
      type: object
      properties:
        account_id:
          type: integer
          nullable: true
          description: Account ID to assign domain to (null to remove)
        kind:
          type: string
          enum: [Native, Master, Slave]
          description: Zone kind
        masters:
          type: array
          items:
            type: string
          description: List of master servers
        dnssec:
          type: boolean
          description: Enable DNSSEC

    DomainSearchResult:
      type: object
      properties:
        id:
          type: integer
          description: Local database ID
          example: 123
        name:
          type: string
          description: Domain name
          example: "advertorial.avant.nl"
        pdns_zone_id:
          type: integer
          description: PowerDNS zone ID
          example: 1819

    DomainDetails:
      type: object
      description: Complete domain information from PowerDNS Server API
      properties:
        id:
          type: string
          description: Zone ID (FQDN with trailing dot)
          example: "example.com."
        name:
          type: string
          description: Zone name (FQDN with trailing dot)
          example: "example.com."
        type:
          type: string
          description: Resource type
          example: "Zone"
        kind:
          type: string
          description: Zone kind
          example: "Native"
        dnssec:
          type: boolean
          description: DNSSEC enabled
          example: false
        edited_serial:
          type: integer
          description: Last edited serial
          example: 2023010101
        masters:
          type: array
          items:
            type: string
          description: Master server addresses
        rrsets:
          type: array
          description: DNS record sets
          items:
            $ref: '#/components/schemas/RRSet'

    RRSet:
      type: object
      description: DNS Resource Record Set
      properties:
        name:
          type: string
          description: Record name (FQDN with trailing dot)
          example: "www.example.com."
        type:
          type: string
          description: DNS record type
          example: "A"
        ttl:
          type: integer
          description: Time to live in seconds
          example: 3600
        records:
          type: array
          description: DNS records in this set
          items:
            $ref: '#/components/schemas/DNSRecord'

    DNSRecord:
      type: object
      description: Individual DNS record
      properties:
        content:
          type: string
          description: Record content/value
          example: "192.168.1.100"
        disabled:
          type: boolean
          description: Whether record is disabled
          example: false

    RRSetUpdate:
      type: object
      description: DNS record set update operation
      required:
        - name
        - type
        - changetype
      properties:
        name:
          type: string
          description: Record name (FQDN with trailing dot)
          example: "www.example.com."
        type:
          type: string
          description: DNS record type (A, AAAA, CNAME, MX, etc.)
          example: "A"
        changetype:
          type: string
          enum: ["REPLACE", "DELETE"]
          description: Operation type
          example: "REPLACE"
        records:
          type: array
          description: Records for REPLACE operations (omit for DELETE)
          items:
            $ref: '#/components/schemas/DNSRecord'

    DomainAccountAdd:
      type: object
      required:
        - domain_name
        - account_id
      properties:
        domain_name:
          type: string
          description: Domain name to add to account
          example: "example.com."
        account_id:
          type: integer
          description: Account ID
          example: 1

    DomainAccountRemove:
      type: object
      required:
        - domain_name
      properties:
        domain_name:
          type: string
          description: Domain name to remove from account
          example: "example.com."

    DomainAccountList:
      type: object
      required:
        - account_id
      properties:
        account_id:
          type: integer
          description: Account ID to list domains for
          example: 1

    AccountDomainsList:
      type: object
      properties:
        data:
          type: object
          properties:
            account:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
            domains:
              type: array
              items:
                $ref: '#/components/schemas/Domain'
            domain_count:
              type: integer
        message:
          type: string

    ApiStatus:
      type: object
      properties:
        data:
          type: object
          properties:
            api_version:
              type: string
              example: "1.0.0"
            timestamp:
              type: string
              format: date-time
            endpoints:
              type: object
              additionalProperties:
                type: string
              example:
                accounts: "/api/accounts"
                domains: "/api/domains"
                status: "/api/status"
            pdns_admin_status:
              type: string
              enum: [connected, disconnected]
            database_status:
              type: string
              enum: [connected, disconnected]
        message:
          type: string

    ConnectionTest:
      type: object
      properties:
        data:
          type: object
          properties:
            status:
              type: string
              enum: [connected, disconnected]
            pdns_domains_count:
              type: integer
        message:
          type: string

    SyncResult:
      type: object
      properties:
        data:
          type: object
          properties:
            accounts:
              type: object
              properties:
                status:
                  type: string
                count:
                  type: integer
            domains:
              type: object
              properties:
                status:
                  type: string
                count:
                  type: integer
        message:
          type: string

    HealthCheck:
      type: object
      properties:
        data:
          type: object
          properties:
            database:
              type: string
              enum: [connected, disconnected, unknown]
            timestamp:
              type: string
              format: date-time
            version:
              type: string
            local_accounts_count:
              type: integer
            local_domains_count:
              type: integer
        message:
          type: string

    ApiDocumentation:
      type: object
      properties:
        data:
          type: object
          properties:
            name:
              type: string
            version:
              type: string
            description:
              type: string
            endpoints:
              type: object
              additionalProperties:
                type: string
              example:
                accounts: "/api/accounts"
                domains: "/api/domains"
                status: "/api/status"
            setup_instructions:
              type: array
              items:
                type: string
        message:
          type: string

    SuccessMessage:
      type: object
      properties:
        message:
          type: string
          example: "Operation completed successfully"

    Template:
      type: object
      properties:
        id:
          type: integer
          description: Template ID
          example: 1
        name:
          type: string
          description: Template name
          example: "Standard Web Server"
        description:
          type: string
          description: Template description
          example: "Standard template for web server domains"
        records:
          type: array
          items:
            $ref: '#/components/schemas/TemplateRecord'
          description: Template records
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp

    TemplateCreate:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Template name
          example: "Standard Web Server"
        description:
          type: string
          description: Template description
          example: "Standard template for web server domains"
        records:
          type: array
          items:
            $ref: '#/components/schemas/TemplateRecordCreate'
          description: Template records to create

    TemplateUpdate:
      type: object
      properties:
        name:
          type: string
          description: Template name
        description:
          type: string
          description: Template description
        records:
          type: array
          items:
            $ref: '#/components/schemas/TemplateRecordCreate'
          description: Template records

    TemplateRecord:
      type: object
      properties:
        id:
          type: integer
          description: Record ID
          example: 1
        name:
          type: string
          description: Record name
          example: "www"
        type:
          type: string
          description: Record type
          example: "A"
        content:
          type: string
          description: Record content
          example: "192.168.1.100"
        ttl:
          type: integer
          description: Time to live
          example: 3600
        priority:
          type: integer
          description: Record priority (for MX records)
          example: 10

    TemplateRecordCreate:
      type: object
      required:
        - name
        - type
        - content
      properties:
        name:
          type: string
          description: Record name
          example: "www"
        type:
          type: string
          enum: [A, AAAA, CNAME, MX, TXT, NS, PTR, SRV]
          description: Record type
          example: "A"
        content:
          type: string
          description: Record content
          example: "192.168.1.100"
        ttl:
          type: integer
          description: Time to live, default 3600
          example: 3600
        priority:
          type: integer
          description: Record priority (for MX records)
          example: 10

    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
          example: "Invalid request data"
        errors:
          type: array
          items:
            type: string
          description: Detailed error messages

  responses:
    BadRequest:
      description: Bad request - Invalid input data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Invalid request data"
            errors: ["Name is required", "Email format is invalid"]

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Resource not found"

    Conflict:
      description: Conflict - Resource already exists
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Account already exists"

    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Internal server error"

tags:
  - name: Documentation
    description: API documentation and information
  - name: Accounts
    description: Account management operations with IP address support
  - name: Domains
    description: Smart domain management with ID/name detection, DNS records, and PowerDNS Server API integration
  - name: Domain Search
    description: Intelligent domain search by ID, name, pattern, or contains matching
  - name: Domain Management
    description: Advanced domain operations including updates, deletion and DNS record management
  - name: Templates
    description: Domain template management operations
  - name: Domain-Account
    description: Domain-account relationship management
  - name: Status
    description: API status, health checks, and synchronization
